@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
    Autores: Andres Chisaguano - Joel Ludeña
    Descripción: Vista para la modificación de un tipo de accesorio mediante una tabla extraida
    con js.
*@

@* Sección para la definición del menú de administrador o auxiliar técnico *@
@{
    ViewBag.Title = "Tipos de Accesorios";
    Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}

@* Sección para la navegación entre pestañas *@
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
    <li><a>Activos de TI</a></li>
    <li><a class="active">@ViewBag.Title</a></li>
</ul>
<div class="row">
    @* Panel para mostrar la tabla de modificación de tipo de accesorios *@
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="x-content">
                    <div class="col-md-6 col-sm-12 col-xs-12 ">
                        <h3>Listado de Tipos de Accesorios</h3>
                    </div>
                </div>
                @* Sección para botones de ingresar nueva categoria y actualizar página *@
                <ul class="nav navbar-right panel_toolbox">
                    <li><button type="button" class="btn btn-round btn-success float-right" onclick="location.href='@Url.Action("NuevoTipoAccesorio", "TipoAccesorio")'"><i class="fa fa-plus"></i> Agregar Tipo de Accesorio</button></li>
                    <li> <button type="button" class="btn btn-round btn-success float-right" onclick="obtenerTipoAccesorio('@Url.Action("ObtenerTipoAccesorioComp", "TipoAccesorio")');"><i class="fa fa-refresh"></i> Actualizar</button></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                @* Sección para la tabla de modificación mediante js *@
                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                    <div id="tablaModificarTipoAccesorio">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Modal de modificación de tipo de accesorio *@
<div class="modal fade" id="ModificarTipoAcc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modificar Tipo de Accesorio</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_content">
                            <br>
                            @* Formulario para envio de datos de los componentes para el ingreso de un nuevo tipo de accesorio
                                (Metodo de la clase) - Controlador (Controller) *@
                            <div class="form">
                                <div class="form-horizontal form-label-left input_mask">
                                    @* Cuadro de texto para el ingreso del nombre de un tipo de accesorio *@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <label>Nombre del Tipo de Accesorio</label>
                                        <input id="NombreTipoAccesorio" type="text" class="form-control has-feedback-left" name="NombreTipoAccesorio" placeholder="AUDIFONOS" onkeyup="this.value=this.value.replace(validarNombreSinNumeros(),'');" onBlur="validarNombreModificacion();" minlength="3" maxlength="50" data-toggle="tooltip" data-placement="rigth" title="" required>
                                        <span class="fa fa-pencil-square-o form-control-feedback left" aria-hidden="true"></span>
                                        <span id="errorNombreTipo" style="color:brown;"></span>
                                    </div>
                                    @* Área de Texto para el ingreso de la descripción de un tipo de accesorio *@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <textarea id="DescripcionTipoAccesorio" name="DescripcionTipoAccesorio" class="form-control has-feedback-left" rows="3" placeholder="Descripción del Tipo de Accesorio" onkeyup="this.value=this.value.replace(validarTextos(),'');" maxlength="150" data-toggle="tooltip" data-placement="rigth" title=""></textarea>
                                        <span class="fa  fa-comments-o form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    @* Checkbox para habilitar o deshabilitar el uso del nuevo tipo de accesorio *@
                                    <div class="form-group">
                                        <label class="col-md-12 col-sm-12 col-xs-12">¿Habilitar Tipo de Accesorio?</label>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <input id="HabilitadoTipoAccesorio" name="HabilitadoTipoAccesorio" type="checkbox" class="js-switch" value="true" checked />
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    @* Sección de botones para guardar tipo de accesorio o cancelar el registro *@
                                    <div class="form-group text-center">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <button id="confirmarTipo" type="submit" class="btn btn-success" onclick="modificarTipoAcc('@Url.Action("ModificarTipoAccesorio", "TipoAccesorio")');">Modificar</button>
                                            <button type="button" class="btn btn-primary " data-dismiss="modal" aria-label="Close">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Sección para visualizar los mensajes de error o de éxito de transacción *@
@if (TempData["Mensaje"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            showNotify("Registro Exitoso", '@TempData["Mensaje"]', "success");
        }
    </script>
}
@if (TempData["MensajeError"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            showNotify("Error al registrar Laboratorio", '@TempData["MensajeError"]', "error");
        }
    </script>
}

@* Seccción para llamar al js de Tipo Accesorio*@
<script src="~/Scripts/ScriptsInventarios/TipoAccesorio.js"></script>
<script>
	$(document).ready(function () {
        //Método para obtener las tablas de Tipo Accesorio
        obtenerTipoAccesorio('@Url.Action("ObtenerTipoAccesorioComp", "TipoAccesorio")');
        urlEstados('@Url.Action("ModificarEstadoTipoAccesorio", "TipoAccesorio")');
		mensajesTooltips();
		//Método para llamar a la función que bloquea los botones con el usuario invitado
		botones('@Url.Action("ObtenerRolActual", "Usuarios")');
        $('#ModificarTipoAcc').on('hidden.bs.modal', function () {
            $(".modal-body input").css("borderColor", "#ccc");
            $(".modal-body textarea").val("");
            $(".modal-body span[id=errorNombreTipo]").html('').hide();
            $('#NombreTipoAccesorio').tooltip('hide');
            $('#DescripcionTipoAccesorio').tooltip('hide');
            document.getElementById("confirmarTipo").disabled = false;
        });
    });

</script>