@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
	Autores: Andres Chisaguano - Joel Ludeña
	Descripción: Vista para mostrar el dashboard correspondiente al Home.
*@

@* Sección para la definición del menú de administrador o auxiliar técnico *@
@{
	Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}

<div class="row">
	<div id="vista_principal" class="row top_tiles">
		<div class="animated flipInY col-lg-2 col-md-2 col-sm-12 col-xs-12">
			<div class="tile-stats">
				<div class="icon"><i class="fa fa-hourglass-end"></i> </div>
				<div class="count"><div id="numeroVidaUtil"></div></div>
				<a href="@Url.Action("ConsultaVidaUtilActivos", "Activos")">
					<h3>Vida Útil<br /> de Activos</h3>
				</a>
				<p>Activos que han cumplido con su tiempo de vida.</p>
			</div>
		</div>
		<div class="animated flipInY col-lg-2 col-md-2 col-sm-12 col-xs-12">
			<div class="tile-stats">
				<div class="icon"><i class="fa fa-check"></i></div>
				<div class="count"><div id="numeroOperativos"></div></div>
				<h3>Activos Operativos</h3>
				<p>N° de Activos con estado Operativo.</p>
			</div>
		</div>
		<div class="animated flipInY col-lg-2 col-md-2 col-sm-12 col-xs-12">
			<div class="tile-stats">
				<div class="icon"><i class="fa fa-warning"></i></div>
				<div class="count"><div id="numeroNoOperativos"></div></div>
				<h3>Activos no Operativos</h3>
				<p>N° de Activos con estado Operativo.</p>
			</div>
		</div>
		<div class="animated flipInY col-lg-2 col-md-2 col-sm-12 col-xs-12">
			<div class="tile-stats">
				<div class="icon"><i class="fa fa-times"></i></div>
				<div class="count"><div id="numeroDeBaja"></div></div>
				<h3>Activos dados <br />de Baja</h3>
				<p>N° de Activos que se han dado de Baja.</p>
			</div>
		</div>
		<div class="animated flipInY col-lg-2 col-md-2 col-sm-12 col-xs-12">
			<div class="tile-stats">
				<div class="icon"><i class="fa fa-users"></i></div>
				<div class="count"><div id="numeroHabilitados"></div></div>
				<h3>Usuarios Habilitados</h3>
				<p>N° de usuarios registrados.</p>
				<br />
			</div>
		</div>
		<div class="animated flipInY col-lg-2 col-md-2 col-sm-12 col-xs-12">
			<div class="tile-stats">
				<div class="icon"><i class="fa fa-sign-in"></i></div>
				<div class="count"><div id="sesionesIniciadas"></div></div>
				<h3>Conexiónes de Usuario</h3>
				<p>N° de conexiones al Sistema</p>
				<br />
			</div>
		</div>
	</div>

	@* Seccion para Vista de Barras *@
	<div class="row">
		<div class="col-md-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Weekly Summary <small>Activity shares</small></h2>
					<ul class="nav navbar-right panel_toolbox">
						<li>
							<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="#">Settings 1</a>
								</li>
								<li>
									<a href="#">Settings 2</a>
								</li>
							</ul>
						</li>
						<li>
							<a class="close-link"><i class="fa fa-close"></i></a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">

					<div class="row" style="border-bottom: 1px solid #E0E0E0; padding-bottom: 5px; margin-bottom: 5px;">
						<div class="col-md-7" style="overflow:hidden;">
							<span class="sparkline_one" style="height: 160px; padding: 10px 25px;">
								<canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
							</span>
							<h4 style="margin:18px">Weekly sales progress</h4>
						</div>
					

						<div class="col-md-5">
							<div class="row" style="text-align: center;">
								<div class="col-md-4">
									<canvas class="canvasDoughnut" height="110" width="110" style="margin: 5px 10px 10px 0"></canvas>
									<h4 style="margin:0">Bounce Rates</h4>
								</div>
								<div class="col-md-4">
									<canvas class="canvasDoughnut" height="110" width="110" style="margin: 5px 10px 10px 0"></canvas>
									<h4 style="margin:0">New Traffic</h4>
								</div>
								<div class="col-md-4">
									<canvas class="canvasDoughnut" height="110" width="110" style="margin: 5px 10px 10px 0"></canvas>
									<h4 style="margin:0">Device Share</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
@* Seccción para llamar al js de Usuarios*@
<script src="~/Scripts/ScriptsInventarios/Dashboard/General.js"></script>
<script type="text/javascript">
    window.onload = function () {
        if ('@ViewBag.MsjBienv' === "true") {
            showNotify("Autenticación Exitosa", "Bienvenid@@ @ViewBag.NombreUsuario", "success");
        }
    }
</script>

<script>
	$(document).ready(function () {
		setTimeout("$('#vista_principal').fadeIn('fast');", 5000);
		//setTimeout($('#vista_principal'), 5000);
		//$('#vista_principal').delay(4000).slideDown(4000).animate(4000);
        //Método para obtener datos de Activos
		obtenerVidaUtil('@Url.Action("ObtenerActivosVidaUtil", "Activos")');
		obtenerValores('@Url.Action("ObtenerDashboardTop", "Home")');
		
		
    });

</script>