@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
    Autores: Andres Chisaguano - Joel Ludeña
    Descripción: Vista para la consulta activos que han pasado su vida útil.
*@

@* Sección para la definición del menú de administrador o auxiliar técnico *@
@{
    ViewBag.Title = "Consulta de Activos";
    Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}

@* Sección para la navegación entre pestañas *@
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
    <li><a>Consulta de Activos</a></li>
    <li><a class="active">@ViewBag.Title</a></li>
</ul>
<div class="row">
    @* Panel para mostrar la tabla de modificación de laboratorios *@
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="x-content">
                    <div class="col-md-6 col-sm-12 col-xs-12 ">
                        <h3>Activos que han sobrepasado su vida útil</h3>
                    </div>
                </div>
                @* Sección para botones de ingresar un nuevo laboratorio y actualizar página *@
                <ul class="nav navbar-right panel_toolbox">
                    <li><button type="button" class="btn btn-round btn-danger float-right" onclick="GenerarReportePDF('@Url.Action("GenerarDataTable", "Reportes")','@Url.Action("ObtenerReportePDF", "Reportes")','Activos','dataTableActivos',''"><i class="fa fa-file-pdf-o"></i> Reporte PDF</button></li>
                    <li><button type="button" class="btn btn-round btn-success float-right" onclick="GenerarReporteExcel('@Url.Action("GenerarDataTable", "Reportes")','@Url.Action("ObtenerReporteExcel", "Reportes")','Activos','dataTableActivos',''"><i class="fa fa-file-excel-o"></i> Reporte Excel</button></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                @* Sección para la tabla de modificación de laboratorios mediante js *@
                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                    <div id="tablaActivosVidaUtil">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script src="~/Scripts/ScriptsInventarios/"></script>*@
<script>
    $(document).ready(function () {
        
    });
</script>


