@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
    Autores: Andres Chisaguano - Joel Ludeña
    Descripción: Vista para la consulta de activos de TI mediante filtros de búsqueda.
*@

@* Sección para la definición del menú de administrador o auxiliar técnico *@
@{
    ViewBag.Title = "Consulta General de Activos";
    Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}

@* Sección para la navegación entre pestañas *@
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
    <li><a>Consulta de Activos</a></li>
    <li><a class="active">@ViewBag.Title</a></li>
</ul>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
					<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Activos de TI</a>
						</li>
						<li role="presentation" class="">
							<a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Accesorios</a>
						</li>
						<li role="presentation" class="">
							<a href="#tab_content3" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false" onclick="obtenerHistoricos('@Url.Action("ObtenerHistoricoActivosComp", "Activos")');">Históricos</a>
						</li>
					</ul>
					<div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
							@* Panel para visualizar la información de los activos de TI *@
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="x_panel">
									<div class="x_title">
										<div class="x-content">
											<div class="col-md-6 col-sm-12 col-xs-12 ">
												<h3>Consulta de Activos</h3>
											</div>
										</div>
										@*Sección para botones de generar reportes en PDF y Excel*@
										<ul class="nav navbar-right panel_toolbox">
											<li><button type="button" class="btn btn-round btn-success float-right" onclick="location.href='@Url.Action("NuevoActivo", "Activos")'"><i class="fa fa-plus"></i> Agregar Activo</button></li>
											<li> <button type="button" class="btn btn-round btn-success float-right" onclick="obtenerActivos('@Url.Action("ObtenerActivosComp", "Activos")');"><i class="fa fa-refresh"></i> Actualizar</button></li>
										</ul>
										<div class="clearfix"></div>
									</div>
									<div class="x_content">
										<br>
										<div class="form-horizontal form-label-left input_mask">
											@*Sección de filtros de búsqueda para realizar la consulta*@
											<div class="form-group">
												@*Combobox para seleccionar Tipo Activo*@
												<div class="col-md-3 col-sm-12 col-xs-12">
													<label>Filtro por Tipo:</label>
													<div id="cargarTipoActivosFiltro"></div>
												</div>
												@*Combobox para seleccionar Laboratorios*@
												<div class="col-md-3 col-sm-12 col-xs-12">
													<label>Filtro por Laboratorio:</label>
													<div id="cargarLaboratoriosFiltro"></div>
												</div>
												@*Combobox para seleccionar Marcas*@
												<div class="col-md-3 col-sm-12 col-xs-12">
													<label>Filtro por Marca:</label>
													<div id="cargarMarcasFiltro"></div>
												</div>
												@*Combobox para seleccionar Marcas*@
												<div class="col-md-3 col-sm-12 col-xs-12">
													<label>Filtro por Estado:</label>
													<div id="cargarEstadosActivoFiltro"></div>
												</div>
											</div>
											<br />
											@* Sección para la tabla de modificación mediante js *@
											<div class="col-md-12 col-sm-12 col-xs-12">
												<div id="tablaActivos"> </div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
							@* Panel para visualizar la información de los activos de TI *@
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="x_panel">
									<div class="x_title">
										<div class="x-content">
											<div class="col-md-6 col-sm-12 col-xs-12 ">
												<h3>Consulta de Accesorios</h3>
											</div>
										</div>
										@*Sección para botones de generar reportes en PDF y Excel*@
										<ul class="nav navbar-right panel_toolbox">
											<li> <button type="button" class="btn btn-round btn-success float-right" onclick="obtenerAccesorios('@Url.Action("ObtenerAccesoriosComp", "Activos")');"><i class="fa fa-refresh"></i> Actualizar</button></li>
										</ul>
										<div class="clearfix"></div>
									</div>
									<div class="x_content">
										<br>
										<div class="form-horizontal form-label-left input_mask">
											<div class="form-group">
												@*Combobox para seleccionar Tipo Accesorio*@
												<div class="col-md-6 col-sm-12 col-xs-12">
													<label>Filtro por Tipo de Accesorio:</label>
													<div id="cargarTipoAccesorioFiltro"></div>
												</div>
												@*Combobox para seleccionar Estado de Accesorio*@
												<div class="col-md-6 col-sm-12 col-xs-12">
													<label>Filtro por Estado:</label>
													<div id="cargarEstadosAccesorioFiltro"></div>
												</div>
											</div>
											<br />
											@* Sección para la tabla de modificación mediante js *@
											<div class="col-md-12 col-sm-12 col-xs-12">
												<div id="tablaAccesorios"> </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
							@* Panel para visualizar la información de los activos de TI *@
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="x_panel">
									<div class="x_title">
										<div class="x-content">
											<div class="col-md-6 col-sm-12 col-xs-12 ">
												<h3>Consulta de Históricos de Activos</h3>
											</div>
										</div>									
										<div class="clearfix"></div>
									</div>
									<div class="x_content">
										<br>
										<div class="form-horizontal form-label-left input_mask">
											@* Sección para la tabla de modificación mediante js *@
											<div class="col-md-12 col-sm-12 col-xs-12">
												<div id="tablaHistoricos"> </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Modal de modificación de Activos *@
<div class="modal fade" id="ModificarActivo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel1">Modificación de información del Activo</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_content">
							@* Formulario para actualización de datos de los tickets.
								(Metodo de la clase) - Controlador (Controller) *@
							<div class="form">
								<div class="form-horizontal form-label-left input_mask">

									@* Combobox para seleccionar el tipo de activo *@
									<div class="form-group">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<label>Tipo de Activo</label>
											<div id="cargarTipoActivos"></div>
											<span id="errorTipo" style="color:brown;"></span>
										</div>
									</div>
									@* Combobox para seleccionar la marca del activo *@
									<div class="form-group">
										<div class="col-md-6 col-sm-12 col-xs-12">
											<label>Marca del Activo</label>
											<div id="cargarMarcas"></div>
											<span id="errorMarca" style="color:brown;"></span>
										</div>
										@* Combobox para el laboratorio del activo *@
										<div class="col-md-6 col-sm-12 col-xs-12">
											<label>Laboratorio del Activo</label>
											<div id="cargarLaboratorios"></div>
											<span id="errorLaboratorio" style="color:brown;"></span>
										</div>
									</div>
									<div class="form-group"></div>
									@* Combobox para seleccionar el estado del activo *@
									<div class="form-group">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<label>Estado del Activo</label>
											<div id="cargarEstados"></div>
											<span id="errorEstado" style="color:brown;"></span>
										</div>
									</div>
									@* Cuadro de texto para el ingreso del nombre de un activo *@
									<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
										<label>Nombre de Activo</label>
										<input id="NombreActivo" type="text" class="form-control has-feedback-left" name="NombreActivo" placeholder="LIHM_MAC01" onkeyup="this.value=this.value.replace(validarNombres(),'');" onBlur="validarNombreActModificar();" minlength="3" maxlength="50" data-toggle="tooltip" data-placement="rigth" title="" required>
										<span class="fa fa-pencil-square-o form-control-feedback left" aria-hidden="true"></span>
										<span id="errorNombre" style="color:brown;"></span>
									</div>
									@* Cuadro de texto para el ingreso del modelo de un activo *@
									<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
										<label>Modelo de Activo</label>
										<input id="ModeloActivo" type="text" class="form-control has-feedback-left" name="ModeloActivo" placeholder="iMAC Pro Turbo Boost" onkeyup="this.value=this.value.replace(validarTextos(),'');" onBlur="setearModeloAct();" maxlength="80" data-toggle="tooltip" data-placement="rigth" title="" required>
										<span class="fa fa-adjust form-control-feedback left" aria-hidden="true"></span>
										<span id="errorModelo" style="color:brown;"></span>
									</div>
									<div class="form-group">
										@* Cuadro de texto para el ingreso del serial activo *@
										<div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
											<label>Serial de Activo</label>
											<input id="SerialActivo" type="text" class="form-control has-feedback-left" name="SerialActivo" placeholder="C02WC1YAJ1G5" onkeyup="this.value=this.value.replace(validarNombresMayusMinus(),'');" onBlur="setearSerialAct();" maxlength="80" data-toggle="tooltip" data-placement="rigth" title="" required>
											<span class="fa fa-cogs form-control-feedback left" aria-hidden="true"></span>
											<span id="errorSerial" style="color:brown;"></span>
										</div>
										@* Cuadro de texto para el ingreso del codigo UPS del activo *@
										<div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
											<label>Código de barras UPS</label>
											<input id="CodigoUpsActivo" type="text" class="form-control has-feedback-left" name="CodigoUpsActivo" placeholder="80042000619268" onkeyup="this.value=this.value.replace(validarNumeros(),'');" maxlength="16" data-toggle="tooltip" data-placement="rigth" title="">
											<span class="fa fa-barcode form-control-feedback left" aria-hidden="true"></span>
										</div>
									</div>
									@* Cuadro de texto para el ingreso de la fecha de ingreso del activo *@
									<div class="form-group">
										<div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
											<label>Fecha de Adquisición: (mm/dd/yyyy)</label>
											<input name="FechaIngresoActivo" type="text" class="form-control has-feedback-left" id="FechaIngresoActivo" placeholder="Fecha de Adquisición" style="padding-left: 60px;" maxlength="10" data-toggle="tooltip" data-placement="rigth" title="">
											<span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true" style=" padding-right: 15px;"></span>
										</div>
										@* Cuadro de texto para el ingreso del responsable del activo *@
										<div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
											<label>Responsable del Activo</label>
											<input id="ResponsableActivo" type="text" class="form-control has-feedback-left" name="ResponsableActivo" placeholder="Pepe Peréz" onkeyup="this.value=this.value.replace(validarTextos(),'');" maxlength="30" data-toggle="tooltip" data-placement="rigth" title="" readonly>
											<span class="fa fa-child form-control-feedback left" aria-hidden="true"></span>
											<span id="errorResponsable" style="color:brown;"></span>
										</div>
									</div>
									<div class="form-group"></div>
									@* Área de Texto para el ingreso de la descripción de una activo *@
									<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
										<textarea id="DescripcionActivo" name="DescripcionActivo" class="form-control has-feedback-left" rows="3" placeholder="Descripción del Activo" onkeyup="this.value=this.value.replace(validarTextos(),'');" maxlength="150" data-toggle="tooltip" data-placement="rigth" title=""></textarea>
										<span class="fa  fa-comments-o form-control-feedback left" aria-hidden="true"></span>
									</div>

									@* ---------------- Sección de especificaciones adicionales para todos los Activos ---------------*@
									<label>Especificaciones Adicionales Comunes para todos los Activos</label>
									@* Área de Texto para el ingreso de Express Service Code *@
									<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
										<input id="ExpressServiceCodeActivo" type="text" class="form-control has-feedback-left" name="ExpressServiceCodeActivo" placeholder="Express Service Code" onkeyup="this.value=this.value.replace(validarNombresMayusMinus(),'');" maxlength="50" data-toggle="tooltip" data-placement="rigth" title="">
										<span class="fa fa-code-fork form-control-feedback left" aria-hidden="true"></span>
									</div>

									@* Cuadro de texto para el ingreso de Fecha de Manufactura *@
									<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
										<input id="FechaManufacturaActivo" type="text" class="form-control has-feedback-left" name="FechaManufacturaActivo" placeholder="Fecha de Manufactura" onkeyup="this.value=this.value.replace(validarNombresMayusMinus(),'');" maxlength="50" data-toggle="tooltip" data-placement="rigth" title="">
										<span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
									</div>

									@* ---------------- Sección de especificaciones adicionales para Equipos de Redes ---------------*@
									<label>Especificaciones Adicionales para Switchs, Routers, etc.</label>
									<div class="form-group">
										@* Cuadro de texto para el ingreso de Número de Puertos *@
										<div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
											<input id="NumPuertosActivo" type="number" class="form-control has-feedback-left" name="NumPuertosActivo" placeholder="Número de Puertos" onkeyup="this.value=this.value.replace(validarNumeros(),'');" onBlur="comprobarNumPuertos();" min="0" max="500" maxlength="3" data-toggle="tooltip" data-placement="rigth" title="">
											<span class="fa fa-sort-numeric-asc form-control-feedback left" aria-hidden="true"></span>
											<span id="errorNumPuertos" style="color:brown;"></span>
										</div>
										@* Cuadro de texto para el ingreso de Version de IOS *@
										<div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
											<input id="IosVersionActivo" type="text" class="form-control has-feedback-left" name="IosVersionActivo" placeholder="Version de IOS" onkeyup="this.value=this.value.replace(validarTextos(),'');" maxlength="20" data-toggle="tooltip" data-placement="rigth" title="">
											<span class="fa fa-adjust form-control-feedback left" aria-hidden="true"></span>
										</div>
									</div>

									@* ---------------- Sección de especificaciones adicionales para Servidores Cuchillas etc---------------*@
									<label>Especificaciones Adicionales para Servidores, Switch SAN etc.</label>

									@* Cuadro de texto para el ingreso de Product Name *@
									<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
										<input id="ProductNameActivo" type="text" class="form-control has-feedback-left" name="ProductNameActivo" placeholder="Product Name" onkeyup="this.value=this.value.replace(validarNombresMayusMinus(),'');" maxlength="20" data-toggle="tooltip" data-placement="rigth" title="">
										<span class="fa fa-book form-control-feedback left" aria-hidden="true"></span>
									</div>
									@* Cuadro de texto para el ingreso de Hpe Part Number *@
									<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
										<input id="HpePartNumberActivo" type="text" class="form-control has-feedback-left" name="HpePartNumberActivo" placeholder="Hpe Part Number" onkeyup="this.value=this.value.replace(validarNombres(),'');" maxlength="20" data-toggle="tooltip" data-placement="rigth" title="">
										<span class="fa fa-cubes form-control-feedback left" aria-hidden="true"></span>
									</div>
									<div class="form-group">
										@* Cuadro de texto para el ingreso de Código de Barras 1 *@
										<div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
											<input id="CodBarras1Activo" type="text" class="form-control has-feedback-left" name="CodBarras1Activo" placeholder="Código de Barras 1" onkeyup="this.value=this.value.replace(validarNombres() ,'');" maxlength="30" data-toggle="tooltip" data-placement="rigth" title="">
											<span class="fa fa-barcode form-control-feedback left" aria-hidden="true"></span>
										</div>
										@* Cuadro de texto para el ingreso de Código de Barras 2*@
										<div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
											<input id="CodBarras2Activo" type="text" class="form-control has-feedback-left" name="CodBarras2Activo" placeholder="Código de Barras 2" onkeyup="this.value=this.value.replace(validarNombres() ,'');" maxlength="30" data-toggle="tooltip" data-placement="rigth" title="">
											<span class="fa fa-barcode form-control-feedback left" aria-hidden="true"></span>
										</div>
									</div>

									@* Cuadro de texto para el ingreso de CT Code *@
									<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
										<input id="CtActivo" type="text" class="form-control has-feedback-left" name="CtActivo" placeholder="CT Code" onkeyup="this.value=this.value.replace(validarNombres() ,'');" maxlength="20" data-toggle="tooltip" data-placement="rigth" title="">
										<span class="fa fa-code form-control-feedback left" aria-hidden="true"></span>
									</div>
									@* ---------------- Sección de especificaciones adicionales para Discos Memorias etc---------------*@
									<label>Especificaciones Adicionales para Discos Duros, Memorias, etc.</label>

									<div class="form-group">
										@* Cuadro de texto para el ingreso de Capacidad de Activo *@
										<div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
											<input id="CapacidadActivo" type="text" class="form-control has-feedback-left" name="CapacidadActivo" placeholder="Capacidad(GB/TB)" onkeyup="this.value=this.value.replace(validarTextosMayus(),'');" min="0" maxlength="8" data-toggle="tooltip" data-placement="rigth" title="">
											<span class="fa fa-database form-control-feedback left" aria-hidden="true"></span>
										</div>
										@* Cuadro de texto para el ingreso de Velocidad de Transferencia *@
										<div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
											<input id="VelocidadTransfActivo" type="text" class="form-control has-feedback-left" name="VelocidadTransfActivo" placeholder="Velocidad de Transferencia" onkeyup="this.value=this.value.replace(validarNombres() ,'');" maxlength="10" data-toggle="tooltip" data-placement="rigth" title="">
											<span class="fa fa-rocket form-control-feedback left" aria-hidden="true"></span>
										</div>
									</div>
									<div class="form-group"></div>
									<div class="ln_solid"></div>
									<div class="form-group text-center">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<button id="confirmarActivo" type="submit" class="btn btn-success" onclick="validacionesCamposModificar();actualizarActivo('@Url.Action("ModificarActivo", "Activos")');">Modificar</button>
											<button type="button" class="btn btn-primary " data-dismiss="modal" aria-label="Close">Cancelar</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@* Modal de modificación de estado de activo*@
<div class="modal fade" id="ModificarEstadoActivo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Cambio de Estado del Activo</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_content">
                            @* Formulario para actualización de datos de los tickets.
                                (Metodo de la clase) - Controlador (Controller) *@
                            <div class="form">
								<div class="form-horizontal form-label-left input_mask">
									@* Combobox para seleccionar el estado del activo *@
									<div class="form-group">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<label>Seleccione el nuevo estado para el Activo:</label>
											<div id="cargarEstadosActivo"></div>
											<span id="errorEstadoActivo" style="color:brown;"></span>
										</div>
									</div>
									<div class="form-group"></div>
									<div class="ln_solid"></div>
									<div class="form-group text-center">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<button type="submit" class="btn btn-success" onclick="actualizarEstadoActivo('@Url.Action("ModificarEstadoActivo", "Activos")');">Modificar</button>
											<button type="button" class="btn btn-primary " data-dismiss="modal" aria-label="Close">Cancelar</button>
										</div>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* Modal de modificación de Accesorios *@
<div class="modal fade" id="ModificarAccesorio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel3">Modificar Accesorios</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_content">
                            @* Formulario para envio de datos de los componentes para modificación de un accesorio
                                (Metodo de la clase) - Controlador (Controller) *@
                            <div class="form">
								<div class="form-horizontal form-label-left input_mask">
									@* Combobox para seleccionar un Tipo de Accesorio *@
									<div class="form-group">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<label>Tipo de Accesorio</label>
											<div id="cargarTipoAccesorio"></div>
											<span id="errorTipoAccesorio" style="color:brown;"></span>
										</div>
									</div>
									@* Cuadro de texto para el ingreso del nombre de un accesorio *@
									<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
										<input id="NombreActivoAccesorio" type="text" class="form-control has-feedback-left" name="NombreActivoAccesorio" placeholder="Nombre del Accesorio" maxlength="100" readonly>
										<span class="fa fa-pencil-square-o form-control-feedback left" aria-hidden="true"></span>
									</div>
									@* Cuadro de texto para el ingreso del nombre de un accesorio *@
									<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
										<label>Nombre de Accesorio</label>
										<input id="NombreAccesorio" type="text" class="form-control has-feedback-left" name="NombreAccesorio" placeholder="CABLE_USB" onkeyup="this.value=this.value.replace(validarNombres(),'');" onBlur="validarNombreAccesorioModificar();" minlength="3" maxlength="50" data-toggle="tooltip" data-placement="rigth" title="" required>
										<span class="fa fa-pencil-square-o form-control-feedback left" aria-hidden="true"></span>
										<span id="errorNombreAccesorio" style="color:brown;"></span>
									</div>
									@* Cuadro de texto para el ingreso del serial de un accesorio *@
									<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
										<label>Serial de Accesorio</label>
										<input id="SerialAccesorio" type="text" class="form-control has-feedback-left" name="SerialAccesorio" placeholder="A568S-ASS-50504" onkeyup="this.value=this.value.replace(validarNombresMayusMinus(),'');" onBlur="setearSerial();" data-toggle="tooltip" data-placement="rigth" title="" maxlength="80">
										<span class="fa fa fa-cogs form-control-feedback left" aria-hidden="true"></span>
										<span id="errorSerialAccesorio" style="color:brown;"></span>
									</div>
									@* Cuadro de texto para el ingreso del modelo de un accesorio *@
									<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
										<label>Modelo de Accesorio</label>
										<input id="ModeloAccesorio" type="text" class="form-control has-feedback-left" name="ModeloAccesorio" placeholder="Economico Tipo C" onkeyup="this.value=this.value.replace(validarTextos(),'');" onBlur="setearModelo();" data-toggle="tooltip" data-placement="rigth" title="" maxlength="80">
										<span class="fa fa-adjust form-control-feedback left" aria-hidden="true"></span>
										<span id="errorModeloAccesorio" style="color:brown;"></span>
									</div>
									@* Combobox para seleccionar el estado del activo *@
									<div class="form-group">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<label>Estado del Activo</label>
											<div id="cargarEstadosAccesorio"></div>
											<span id="errorEstadoAccesorio" style="color:brown;"></span>
										</div>
									</div>
									@* Área de Texto para el ingreso de la descripción de un accesorio *@
									<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
										<textarea id="DescripcionAccesorio" name="DescripcionAccesorio" class="form-control has-feedback-left" rows="3" placeholder="Descripción del Accesorio" onkeyup="this.value=this.value.replace(validarTextos(),'');" maxlength="150" data-toggle="tooltip" data-placement="rigth" title=""></textarea>
										<span class="fa fa-comments-o form-control-feedback left" aria-hidden="true"></span>
									</div>
									<div class="form-group"></div>
									<div class="ln_solid"></div>
									@* Sección de botones para guardar accesorio o cancelar el registro *@
									<div class="form-group text-center">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<button id="confirmarAccesorioModificacion" type="submit" class="btn btn-success" onclick="actualizarAccesorio('@Url.Action("ModificarAccesorio", "Activos")');">Modificar</button>
											<button type="button" class="btn btn-primary " data-dismiss="modal" aria-label="Close">Cancelar</button>
										</div>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* Modal de modificación de estado de accesorio *@
<div class="modal fade" id="ModificarEstadoAccesorio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel4">Cambio de Estado del Accesorio</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_content">
                            @* Formulario para actualización de datos de los tickets.
                                (Metodo de la clase) - Controlador (Controller) *@
                            <div class="form">
								<div class="form-horizontal form-label-left input_mask">
									@* Combobox para seleccionar el estado del activo *@
									<div class="form-group">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<label>Seleccione el nuevo estado para el Accesorio:</label>
											<div id="cargarEstadosAccesorioMod"></div>
											<span id="errorEstadoAcc" style="color:brown;"></span>
										</div>
									</div>
									<div class="form-group"></div>
									<div class="ln_solid"></div>
									<div class="form-group text-center">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<button type="submit" class="btn btn-success" onclick="actualizarEstadoAccesorios('@Url.Action("ModificarEstadoAccesorio", "Activos")');">Modificar</button>
											<button type="button" class="btn btn-primary " data-dismiss="modal" aria-label="Close">Cancelar</button>
										</div>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* Modal de Ingreso de nuevo Accesorio *@
<div class="modal fade" id="IngresoNuevoAccesorio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel5">Ingreso de Nuevo Accesorio</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_content">
                            @* Formulario para actualización de datos de los tickets.
                                (Metodo de la clase) - Controlador (Controller) *@
                            <div class="form">
                                <div class="form-horizontal form-label-left input_mask" id="Paso3">
                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <label>* Seleccione el Tipo de Accesorio</label>
                                            <div id="cargarAccesoriosIngreso"></div>
                                            <span id="errorTipoAccesorioIng" style="color:brown;"></span>
                                        </div>
                                    </div>
                                    <div class="form-group"></div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <input id="NombreActivoIngreso" type="text" class="form-control has-feedback-left" name="NombreActivoIngreso" placeholder="Nombre del Activo" maxlength="50" readonly>
                                        <span class="fa fa-pencil-square-o form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <label>* Nombre de Accesorio</label>
                                        <input id="NombreAccesorioIngreso" type="text" class="form-control has-feedback-left" name="NombreAccesorioIngreso" placeholder="CABLE_USB" onkeyup="this.value=this.value.replace(validarNombres(),'');" onBlur="comprobarNombreAccesorio();" minlength="3" maxlength="50" data-toggle="tooltip" data-placement="rigth" title="" required>
                                        <span class="fa fa-pencil-square-o form-control-feedback left" aria-hidden="true"></span>
                                        <span id="errorNombreAccesorioIng" style="color:brown;"></span>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <label>* Serial de Accesorio</label>
                                        <input id="SerialAccesorioIngreso" type="text" class="form-control has-feedback-left" name="SerialAccesorioIngreso" placeholder="A568S-ASS-50504" onkeyup="this.value=this.value.replace(validarNombresMayusMinus(),'');" onBlur="setearSerialIngreso();" maxlength="80" data-toggle="tooltip" data-placement="rigth" title="" required>
                                        <span class="fa fa-cogs form-control-feedback left" aria-hidden="true"></span>
                                        <span id="errorModeloAccesorioIng" style="color:brown;"></span>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <label>* Modelo de Accesorio</label>
                                        <input id="ModeloAccesorioIngreso" type="text" class="form-control has-feedback-left" name="ModeloAccesorioIngreso" placeholder="Economico Tipo C" onkeyup="this.value=this.value.replace(validarTextos(),'');" onBlur="setearModeloIngreso();" maxlength="80" data-toggle="tooltip" data-placement="rigth" title="" required>
                                        <span class="fa fa-adjust form-control-feedback left" aria-hidden="true"></span>
                                        <span id="errorSerialAccesorioIng" style="color:brown;"></span>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <label>* Seleccione el Estado del Activo:</label>
                                            <div id="cargarEstadosAccesorioIngreso"></div>
                                            <span id="errorEstadoAccesorioIng" style="color:brown;"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <textarea id="DescripcionAccesorioIngreso" name="DescripcionAccesorioIngreso" class="form-control has-feedback-left" rows="3" placeholder="Descripción del Accesorio" onkeyup="this.value=this.value.replace(validarTextos(),'');" maxlength="150" data-toggle="tooltip" data-placement="rigth" title=""></textarea>
                                        <span class="fa  fa-comments-o form-control-feedback left" aria-hidden="true"></span>
                                    </div>


                                    <div class="form-group" id="cqrAccesorio">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                            @using (Html.BeginForm("ObtenerPDFQRSimple", "Activos", FormMethod.Post, new { id = "GenPDFForm" }))
                                            {
                                                <div id="imgCQR">

                                                </div>
                                                <strong>ID Código QR: </strong><span id="idCQRAccesorio" style="font-weight: normal;"></span>
                                                <br />
                                                <strong>Nombre Activo de TI: </strong><span id="nombreAccesorioIngresado" style="font-weight: normal;"></span>
                                                <br /><br />
                                                <a class="btn btn-default" id="btnGenPDF"><i class="fa fa-qrcode"></i> Imprimir QR</a>
                                            }
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group text-center">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <button id="confirmarAccesorioNuevo" type="submit" class="btn btn-success" onclick="ingresarAccesorios('@Url.Action("NuevoAccesorio", "Activos")','@Url.Action("ObtenerImagenQR", "Activos")','@Url.Action("ObtenerPDFQRSimple", "Activos")');">Ingresar</button>
                                            <button type="button" class="btn btn-primary" onclick="limpiarModal();">Salir</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* Sección para visualizar los mensajes de error o de éxito de transacción *@
@if (TempData["Mensaje"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            showNotify("Registro Exitoso", '@TempData["Mensaje"]', "success");
        }
    </script>
}
@if (TempData["MensajeError"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            showNotify("Error al modificar Activo", '@TempData["MensajeError"]', "error");
        }
    </script>
}
	
@* Seccción para llamar al js de Categorías *@
<script src="~/Scripts/ScriptsInventarios/ConsultaActivo.js"></script>
<script src="~/Scripts/ScriptsInventarios/Accesorios.js"></script>
<script>
	$(document).ready(function () {
		//Método para llamar a la función que bloquea los botones con el usuario invitado
		botones('@Url.Action("ObtenerRolActual", "Usuarios")');
		//Método para llamar a la función que bloquea los botones con el usuario invitado
		botonesActivos('@Url.Action("ObtenerRolActual", "Usuarios")');
        //Método para obtener datos de Activos
        obtenerActivos('@Url.Action("ObtenerActivosComp", "Activos")');
        datosTipoActivo('@Url.Action("ObtenerTipoActivoComp", "TipoActivo")');
        datosLaboratorio('@Url.Action("ObtenerLaboratoriosComp", "Laboratorios")');
        datosMarcas('@Url.Action("ObtenerMarcasComp", "Marcas")');
        cargarEstadosCmb();
		cargarEstadosModificarCmb();
		EstadosFiltroAct();
        mensajesTooltips();

        //Método para obtener datos de Accesorios
        obtenerAccesorios('@Url.Action("ObtenerAccesoriosComp", "Activos")');
        datosTipoAccesorio('@Url.Action("ObtenerTipoAccesorioComp", "TipoAccesorio")');
        cargarEstadosAccesoriosCmb();
        cargarEstadosAccesoriosMod();
        cargarEstadosAccesoriosIng();
        cargarNombresActivos('@Url.Action("ObtenerNombresActivos", "Activos")');
        mensajesTooltipsAccesorios();
		mensajesTooltipsAccesoriosMod();
		EstadosAccesoriosFiltro();

        $(function () {
            $('input[name="FechaIngresoActivo"]').datepicker({
				autoHide: true,
				zIndex: 2048,
				startDate: new Date(),
                format: 'dd-mm-yyyy',
               
                minDate: "01/01/1990",
				maxDate: new Date()
				
			});
        });

        $('#cqrAccesorio').hide();

        $('#ModificarActivo').on('hidden.bs.modal', function () {
            $(".modal-body select").val("");
            $(".modal-body select").css("borderColor","#ccc");
            $(".modal-body input").val("");
			$(".modal-body input").css("borderColor", "#ccc");
            $(".modal-body textarea").val("");
            $(".modal-body span[id=errorTipo]").html('').hide();
            $(".modal-body span[id=errorMarca]").html('').hide();
            $(".modal-body span[id=errorLaboratorio]").html('').hide();
            $(".modal-body span[id=errorEstado]").html('').hide();
            $(".modal-body span[id=errorNombre]").html('').hide();
            $(".modal-body span[id=errorModelo]").html('').hide();
			$(".modal-body span[id=errorSerial]").html('').hide();
			$(".modal-body span[id=errorNumPuertos]").html('').hide();
            $("#NombreActivo").tooltip('hide');
            $("#SerialActivo").tooltip('hide');
            $("#ModeloActivo").tooltip('hide');
            $("#CodigoUpsActivo").tooltip('hide');
			$("#FechaIngresoActivo").tooltip('hide');
			$("#DescripcionActivo").tooltip('hide');
			$("#ExpressServiceCodeActivo").tooltip('hide');
			$("#FechaManufacturaActivo").tooltip('hide');
			$("#NumPuertosActivo").tooltip('hide');
			$("#IosVersionActivo").tooltip('hide');
			$("#ProductNameActivo").tooltip('hide');
			$("#HpePartNumberActivo").tooltip('hide');
			$("#CodBarras1Activo").tooltip('hide');
			$("#CodBarras2Activo").tooltip('hide');
			$("#CtActivo").tooltip('hide');
			$("#CapacidadActivo").tooltip('hide');
			$("#VelocidadTransfActivo").tooltip('hide');

			$(".modal-body input[id=FechaIngresoActivo]").html('');

			$("#FechaIngresoActivo").datepicker('hide');
			//$("#FechaIngresoActivo").hide();

            document.getElementById("confirmarActivo").disabled = false;
        });

        $('#ModificarEstadoActivo').on('hidden.bs.modal', function () {
            $(".modal-body select").val("");
            $(".modal-body select").css("borderColor", "#ccc");
            $(".modal-body span[id=errorEstadoActivo]").html('').hide();
        });

        $('#IngresoNuevoAccesorio').on('hidden.bs.modal', function () {
            $(".modal-body select").val("");
            $(".modal-body select").css("borderColor", "#ccc");
            $(".modal-body input").val("");
            $(".modal-body input").css("borderColor", "#ccc");
            $(".modal-body textarea").val("");
            $(".modal-body span[id=errorTipoAccesorioIng]").html('').hide();
            $(".modal-body span[id=errorNombreAccesorioIng]").html('').hide();
            $(".modal-body span[id=errorSerialAccesorioIng]").html('').hide();
            $(".modal-body span[id=errorModeloAccesorioIng]").html('').hide();
            $(".modal-body span[id=errorEstadoAccesorioIng]").html('').hide();
            $("#NombreAccesorioIngreso").tooltip('hide');
            $("#SerialAccesorioIngreso").tooltip('hide');
            $("#ModeloAccesorioIngreso").tooltip('hide');
            $("#DescripcionAccesorioIngreso").tooltip('hide');
            $('#cqrAccesorio').hide();
            document.getElementById("confirmarAccesorioNuevo").disabled = false;
        });

        $('#ModificarAccesorio').on('hidden.bs.modal', function () {
            $(".modal-body select").val("");
            $(".modal-body select").css("borderColor", "#ccc");
            $(".modal-body input").val("");
            $(".modal-body input").css("borderColor", "#ccc");
            $(".modal-body textarea").val("");
            $(".modal-body span[id=errorTipoAccesorio]").html('').hide();
            $(".modal-body span[id=errorNombreAccesorio]").html('').hide();
            $(".modal-body span[id=errorSerialAccesorio]").html('').hide();
            $(".modal-body span[id=errorModeloAccesorio]").html('').hide();
            $(".modal-body span[id=errorEstadoAccesorio]").html('').hide();
            $("#NombreAccesorio").tooltip('hide');
            $("#SerialAccesorio").tooltip('hide');
            $("#ModeloAccesorio").tooltip('hide');
            $("#DescripcionAccesorio").tooltip('hide');
            document.getElementById("confirmarAccesorioModificacion").disabled = false;
        });

        $('#ModificarEstadoAccesorio').on('hidden.bs.modal', function () {
            $(".modal-body select").val("");
            $(".modal-body select").css("borderColor", "#ccc");
            $(".modal-body span[id=errorEstadoAccesorio]").html('').hide();
		});

		//Mascaras de Ingresos
		$('#FechaIngresoActivo').mask('00/00/0000');

		$('#NumPuertosActivo').mask('ABZ', {
			translation: {
				'Z': {pattern: /[0-9]/, optional: true},
				'A': {pattern: /[0-5]/, optional: true},
				'B': {pattern: /[0-9]/, optional: true}
			},
			onKeyPress: function (a, b, c, d) {
				if (!a) return;
				let m = a.match(/(\d{1})/g);
				if (!m) return;
				if (parseInt(m[0]) === 5) {
					d.translation.B.pattern = /[0]/;
				} else {
					d.translation.B.pattern = /[0-9]/;
				}
				if (parseInt(m[1]) == 0) {
					d.translation.Z.pattern = /[0]/;
				} else {
					d.translation.Z.pattern = /[0-9]/;
				}

				let temp_value = c.val();
				c.val('');
				c.unmask().mask('ABZ', d);
				c.val(temp_value);
			}
		});


    });
</script>



