@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
    Autores: Andres Chisaguano - Joel Ludeña
    Descripción: Vista para la consulta e impresión de códigos QR de Activos y Accesorios.
*@

@* Sección para la definición del menú de administrador o auxiliar técnico *@
@{
    ViewBag.Title = "Consulta de Códigos QR";
    Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}

@* Sección para la navegación entre pestañas *@
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
    <li><a>Consulta de Activos</a></li>
    <li><a class="active">@ViewBag.Title</a></li>
</ul>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Activos de TI</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Accesorios</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                            @* Panel para visualizar la información de los activos de TI *@
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <div class="x-content">
                                            <div class="col-md-6 col-sm-12 col-xs-12 ">
                                                <h3>Códigos QR de Activos</h3>
                                            </div>
                                        </div>
                                        @*Sección para botones de generar reportes en PDF y Excel*@
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><button type="button" class="btn btn-round btn-danger float-right" onclick=""><i class="fa fa-file-pdf-o"></i> Imprimir PDF</button></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <br>
                                        <div class="form-horizontal form-label-left input_mask">
                                            @*Sección de filtros de búsqueda para realizar la consulta*@
                                            <div class="form-group">
                                                @*Combobox para seleccionar Tipo Activo*@
                                                <div class="col-md-3 col-sm-12 col-xs-12">
                                                    <label>Filtro por Tipo:</label>
                                                    <div id="cargarTipoActivo"></div>
                                                </div>
                                                @*Combobox para seleccionar Laboratorios*@
                                                <div class="col-md-3 col-sm-12 col-xs-12">
                                                    <label>Filtro por Laboratorio:</label>
                                                    <div id="cargarLaboratorios"></div>
                                                </div>
                                                @*Combobox para seleccionar Marcas*@
                                                <div class="col-md-3 col-sm-12 col-xs-12">
                                                    <label>Filtro por Marca:</label>
                                                    <div id="cargarMarcas"></div>
                                                </div>
                                                @*Combobox para seleccionar Marcas*@
                                                <div class="col-md-3 col-sm-12 col-xs-12">
                                                    <label>Filtro por Estado:</label>
                                                    <div id="cargarEstadosActivo"></div>
                                                </div>
                                            </div>
                                            <br />
                                            @* Sección para la tabla de modificación mediante js *@
                                            <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                                                <div id="tablaReportesActivos"></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                            @* Panel para visualizar la información de los activos de TI *@
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <div class="x-content">
                                            <div class="col-md-6 col-sm-12 col-xs-12 ">
                                                <h3>Códigos QR de Accesorios</h3>
                                            </div>
                                        </div>
                                        @*Sección para botones de generar reportes en PDF y Excel*@
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><button type="button" class="btn btn-round btn-danger float-right" onclick=""><i class="fa fa-file-pdf-o"></i> Imprimir PDF</button></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <br>
                                        <div class="form-horizontal form-label-left input_mask">
                                            @* Sección para la tabla de modificación mediante js *@
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div id="tablaCQRAccesorios"> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                            @* Panel para visualizar la información de los activos de TI códigos QR*@
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <div class="x-content">
                                            <div class="col-md-6 col-sm-12 col-xs-12 ">
                                                <h3>Impresión de Códigos QR</h3>
                                            </div>
                                        </div>
                                        @*Sección para botones de generar reporte en PDF*@
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><button type="button" class="btn btn-round btn-danger float-right" onclick="GenerarReportePDF('@Url.Action("GenerarDataTable", "Reportes")','@Url.Action("ObtenerReportePDF", "Reportes")','Accesorios','dataTableAccesorios');"><i class="fa fa-file-pdf-o"></i> Imprimir PDF</button></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <br>
                                        <div class="form-horizontal form-label-left input_mask">
                                            @* Sección para la tabla de modificación mediante js *@
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div id="tablaLotesQR"> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/ScriptsInventarios/Reporteria/CQRActivos.js"></script>
<script>
    $(document).ready(function () {
        //Método para obtener la tabla de Categorías
        obtenerActivos('@Url.Action("ObtenerActivosComp", "Activos")');
        datosTipoActivo('@Url.Action("ObtenerTipoActivoComp", "TipoActivo")');
        datosLaboratorio('@Url.Action("ObtenerLaboratoriosComp", "Laboratorios")');
        datosMarcas('@Url.Action("ObtenerMarcasComp", "Marcas")');
    });
</script>

