@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
    Autores: Andres Chisaguano - Joel Ludeña
    Descripción: Vista para el ingreso de un nuevo activo como por ejemplo
    PC001, SWITCH LAN, TABLET SAMSUMG, etc.
*@

@* Sección para la definición del menú de administrador o auxiliar técnico *@
@{
    ViewBag.Title = "Activos de TI";
    Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}

@* Sección para la navegación entre pestañas*@
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
    <li><a>@ViewBag.Title</a></li>
    <li><a class="active">Nuevo</a></li>
</ul>
<div class="row">
    <div class="col-md-1 col-sm-12 col-xs-12"></div>

    @* Panel para mostrar las opciones de ingreso de un nuevo activo *@
    <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Nuevo Activo de TI </h2>
                <ul class="nav navbar-right panel_toolbox"></ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>

                <!-- Comienzo del Wizard -->
                <div id="wizard" class="form_wizard wizard_horizontal">
                    <ul class="wizard_steps">
                        <li>
                            <a href="#step-1">
                                <span class="step_no">1</span>
                                <span class="step_descr">
                                    Paso 1<br />
                                    <small>Datos Principales del Activo</small>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-2">
                                <span class="step_no">2</span>
                                <span class="step_descr">
                                    Paso 2<br />
                                    <small>Especificaciónes Adicionales del Activo</small>
                                </span>
                            </a>
                        </li>

                        <li>
                            <a href="#step-3">
                                <span class="step_no">3</span>
                                <span class="step_descr">
                                    Paso 3<br />
                                    <small>Confirmación y Código QR</small>
                                </span>
                            </a>
                        </li>

                    </ul>
                    <div id="step-1" style="height: 700px;">
                        <div class="form-horizontal form-label-left input_mask" id="Paso1">
                            @* Combobox para seleccionar la categoría de activo *@
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>* Seleccione la Categoría de Activo</label>
                                    <div id="cargarCategorias"></div>
                                    <span id="errorCategoria" style="color:brown;"></span>
                                </div>
                            </div>
                            @* Combobox para seleccionar el tipo de activo *@
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>* Seleccione el Tipo de Activo:</label>
                                    <select id="TipoActivo" class="form-control" name="TipoActivo" required></select>
                                    <span id="errorTipo" style="color:brown;"></span>
                                </div>
                            </div>
                            @* Combobox para seleccionar la marca del activo *@
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <label>* Seleccione la Marca del Activo</label>
                                    <div id="cargarMarcas"></div>
                                    <span id="errorMarca" style="color:brown;"></span>
                                </div>
                                @* Combobox para el laboratorio del activo *@
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <label>* Laboratorio del Activo</label>
                                    <div id="cargarLaboratorios"></div>
                                    <span id="errorLaboratorio" style="color:brown;"></span>
                                </div>
                            </div>

                            <div class="form-group">

                            </div>
                            @* Combobox para seleccionar el estado del activo *@
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>* Seleccione el Estado del Activo</label>
                                    <div id="cargarEstados"></div>
                                    <span id="errorEstado" style="color:brown;"></span>
                                </div>
                            </div>
                            @* Cuadro de texto para el ingreso del nombre de un activo *@
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <label>* Nombre del Activo</label>
                                <input id="NombreActivo" type="text" class="form-control has-feedback-left" name="NombreActivo" placeholder="LIHM_MAC01" onkeyup="this.value=this.value.replace(validarNombres(),'');" minlength="3" maxlength="50" data-toggle="tooltip" data-placement="rigth" title="" required>
                                <span class="fa fa-pencil-square-o form-control-feedback left" aria-hidden="true"></span>
                                <span id="errorNombre" style="color:brown;"></span>
                            </div>

                            @* Cuadro de texto para el ingreso del modelo de un activo *@
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <label>* Modelo del Activo</label>
                                <input id="ModeloActivo" type="text" class="form-control has-feedback-left" name="ModeloActivo" placeholder="iMAC Pro Turbo Boost" onkeyup="this.value=this.value.replace(validarTextos(),'');" onBlur="setearModelo();" maxlength="80" data-toggle="tooltip" data-placement="rigth" title="" required>
                                <span class="fa fa-adjust form-control-feedback left" aria-hidden="true"></span>
                                <span id="errorModelo" style="color:brown;"></span>
                            </div>

                            <div class="form-group">
                                @* Cuadro de texto para el ingreso del serial activo *@
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                    <label>* Serial del Activo</label>
                                    <input id="SerialActivo" type="text" class="form-control has-feedback-left" name="SerialActivo" placeholder="C02WC1YAJ1G5" onkeyup="this.value=this.value.replace(validarNombresMayusMinus(),'');" onBlur="setearSerial();" maxlength="80" data-toggle="tooltip" data-placement="rigth" title="" required>
                                    <span class="fa fa-cogs form-control-feedback left" aria-hidden="true"></span>
                                    <span id="errorSerial" style="color:brown;"></span>
                                </div>
                                @* Cuadro de texto para el ingreso del codigo UPS del activo *@
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                    <label>Código de barras UPS</label>
                                    <input id="CodigoUpsActivo" type="text" class="form-control has-feedback-left" name="CodigoUpsActivo" placeholder="80042000619268" onkeyup="this.value=this.value.replace(validarNumeros(),'');" maxlength="16" data-toggle="tooltip" data-placement="rigth" title="">
                                    <span class="fa fa-barcode form-control-feedback left" aria-hidden="true"></span>
                                </div>

                            </div>
                            @* Cuadro de texto para el ingreso de la fecha de ingreso del activo *@
                            <div class="form-group">
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                    <label>Fecha de Adquisición del Activo:</label>
                                    <input name="FechaIngresoActivo" type="text" class="form-control has-feedback-left" id="FechaIngresoActivo" placeholder="Fecha de Adquisición" style="padding-left: 60px;" onkeyup="this.value=this.value.replace(validarFecha(),'');" maxlength="10" data-toggle="tooltip" data-placement="rigth" title="">
                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true" style=" padding-right: 15px;"></span>
                                </div>
                                @* Cuadro de texto para el ingreso del responsable del activo *@
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                    <label>* Responsable del Activo</label>
                                    <div class="input-group">
                                        <input id="ResponsableActivo" type="text" class="form-control" name="ResponsableActivo" placeholder="Pepe Peréz" onkeyup="this.value=this.value.replace(validarTextosSinNum(),'');" maxlength="50"  readonly required>
                                        <span class="input-group-btn">
                                            <button id="btnResponsable" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModificarResponsable" data-placement="rigth" title="">
                                                <span class="fa  fa-child" aria-hidden="true"></span>
                                            </button>
                                        </span>
                                    </div>
                                    <span id="errorResponsable" style="color:brown;"></span>
                                </div>
                            </div>
                            <div class="form-group"></div>
                            @* Área de Texto para el ingreso de la descripción de una activo *@
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <textarea id="DescripcionActivo" name="DescripcionActivo" class="form-control has-feedback-left" rows="3" placeholder="Descripción del Activo" onkeyup="this.value=this.value.replace(validarTextos(),'');" maxlength="150" data-toggle="tooltip" data-placement="rigth" title=""></textarea>
                                <span class="fa  fa-comments-o form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>

                    </div>
                    <div id="step-2">
                        <div class="form-horizontal form-label-left input_mask" id="Paso2">

                            @* ---------------- Sección de especificaciones adicionales para todos los Activos ---------------*@
                            <label>Especificaciones Adicionales comunes para todos los Activos</label>
                            @* Área de Texto para el ingreso de Express Service Code *@
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <input id="ExpressServiceCodeActivo" type="text" class="form-control has-feedback-left" name="ExpressServiceCodeActivo" placeholder="Express Service Code" onkeyup="this.value=this.value.replace(validarNombresMayusMinus(),'');" maxlength="60">
                                <span class="fa fa-code-fork form-control-feedback left" aria-hidden="true"></span>
                            </div>

                            @* Cuadro de texto para el ingreso de Fecha de Manufactura *@
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <input id="FechaManufacturaActivo" type="text" class="form-control has-feedback-left" name="FechaManufacturaActivo" placeholder="Fecha de Manufactura" onkeyup="this.value=this.value.replace(validarNombresMayusMinus(),'');" maxlength="80">
                                <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                            </div>

                            @* ---------------- Sección de especificaciones adicionales para Equipos de Redes ---------------*@
                            <label>Especificaciones Adicionales para Switchs, routers, etc.</label>
                            <div class="form-group">
                                @* Cuadro de texto para el ingreso de Número de Puertos *@
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                    <input id="NumPuertosActivo" type="number" class="form-control has-feedback-left" name="NumPuertosActivo" placeholder="Número de Puertos" onkeyup="this.value=this.value.replace(validarNumeros(),'');" min="0" max="100">
                                    <span class="fa fa-sort-numeric-asc form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                @* Cuadro de texto para el ingreso de Version de IOS *@
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                    <input id="IosVersionActivo" type="text" class="form-control has-feedback-left" name="IosVersionActivo" placeholder="Version de IOS" onkeyup="this.value=this.value.replace(validarTextos(),'');" maxlength="40">
                                    <span class="fa fa-adjust form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>

                            @* ---------------- Sección de especificaciones adicionales para Servidores Cuchillas etc---------------*@
                            <label>Especificaciones Adicionales para Servidores, switch SAN etc.</label>

                            @* Cuadro de texto para el ingreso de Product Name *@
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <input id="ProductNameActivo" type="text" class="form-control has-feedback-left" name="ProductNameActivo" placeholder="Product Name" onkeyup="this.value=this.value.replace(validarNombresMayusMinus(),'');" maxlength="50">
                                <span class="fa fa-book form-control-feedback left" aria-hidden="true"></span>
                            </div>
                            @* Cuadro de texto para el ingreso de Hpe Part Number *@
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <input id="HpePartNumberActivo" type="text" class="form-control has-feedback-left" name="HpePartNumberActivo" placeholder="Hpe Part Number" onkeyup="this.value=this.value.replace(validarNombres(),'');" maxlength="40">
                                <span class="fa fa-cubes form-control-feedback left" aria-hidden="true"></span>
                            </div>
                            <div class="form-group">
                                @* Cuadro de texto para el ingreso de Código de Barras 1 *@
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                    <input id="CodBarras1Activo" type="text" class="form-control has-feedback-left" name="CodBarras1Activo" placeholder="Código de Barras 1" onkeyup="this.value=this.value.replace(validarNombres() ,'');" maxlength="50">
                                    <span class="fa fa-barcode form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                @* Cuadro de texto para el ingreso de Código de Barras 2*@
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                    <input id="CodBarras2Activo" type="text" class="form-control has-feedback-left" name="CodBarras2Activo" placeholder="Código de Barras 2" onkeyup="this.value=this.value.replace(validarNombres() ,'');" maxlength="50">
                                    <span class="fa fa-barcode form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>

                            @* Cuadro de texto para el ingreso de CT Code *@
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                <input id="CtActivo" type="text" class="form-control has-feedback-left" name="CtActivo" placeholder="CT Code" onkeyup="this.value=this.value.replace(validarNombres() ,'');" maxlength="50">
                                <span class="fa fa-code form-control-feedback left" aria-hidden="true"></span>
                            </div>
                            @* ---------------- Sección de especificaciones adicionales para Discos Memorias etc---------------*@
                            <label>Especificaciones Adicionales para Discos Duros, Memorias, etc.</label>

                            <div class="form-group">
                                @* Cuadro de texto para el ingreso de Capacidad de Activo *@
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                    <input id="CapacidadActivo" type="number" class="form-control has-feedback-left" name="CapacidadActivo" placeholder="Capacidad(GB)" onkeyup="this.value=this.value.replace(validarNumeros(),'');" min="0" max="100">
                                    <span class="fa fa-database form-control-feedback left" aria-hidden="true"></span>
                                </div>
                                @* Cuadro de texto para el ingreso de Velocidad de Transferencia *@
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                    <input id="VelocidadTransfActivo" type="text" class="form-control has-feedback-left" name="VelocidadTransfActivo" placeholder="Velocidad de Transferencia" onkeyup="this.value=this.value.replace(validarNombres() ,'');" maxlength="20">
                                    <span class="fa fa-rocket form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="step-3" style="height: 400px;">
                        <h3 class="StepTitle text-center">El Activo ha sido Registrado Correctamente</h3>
                        <div class="form-horizontal form-label-left input_mask " id="Paso3">
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                    @using (Html.BeginForm("ObtenerPDFQRSimple", "Activos", FormMethod.Post, new { id = "GenPDFForm" }))
                                    {
                                        <div id="imgCQR">

                                        </div>
                                        <strong>ID Código QR: </strong><span id="idCQR" style="font-weight: normal;"></span>
                                        <br />
                                        <strong>Nombre Activo de TI: </strong><span id="nombreActivoIngresado" style="font-weight: normal;"></span>
                                        <br /><br />
                                        <a class="btn btn-default" id="btnGenPDF"><i class="fa fa-qrcode"></i> Imprimir QR</a>
                                    }
                                </div>
                            </div>


                        </div>
                    </div>
                    <!-- Fin del contenido de SmartWizard-->

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1 col-sm-12 col-xs-12"></div>
</div>

@* Modal de modificación de responsable*@
<div class="modal fade" id="ModificarResponsable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Cambio de Responsable</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_content">
                            @* Formulario para actualización de datos de los tickets.
                                (Metodo de la clase) - Controlador (Controller) *@
                            <div class="form">
                                <div class="form-horizontal form-label-left input_mask">
                                    @* Cuadro de texto para el ingreso del nombre de un activo *@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <label>* Nombre del Responsable</label>
                                        <input id="NombreResponsableActivo" type="text" class="form-control has-feedback-left" name="NombreResponsableActivo" placeholder="Pepe Pérez" onkeyup="this.value=this.value.replace(validarTextosSinNum(),'');" minlength="3" maxlength="50" data-toggle="tooltip" data-placement="rigth" title="" required>
                                        <span class="fa fa-child form-control-feedback left" aria-hidden="true"></span>
                                        <span id="errorNombre" style="color:brown;"></span>
                                    </div>
                                    <div class="form-group"></div>
                                    <div class="form-group text-center">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <button type="submit" class="btn btn-success" onclick=" modificarResponsable('@Url.Action("ModificarResponsableJSON", "Activos")');">Modificar</button>
                                            <button type="button" class="btn btn-primary " data-dismiss="modal" aria-label="Close">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@* Sección para visualizar los mensajes de error o de éxito de transacción *@
@if (TempData["Mensaje"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            showNotify("Registro Exitoso", '@TempData["Mensaje"]', "success");
        }
    </script>
}
@if (TempData["MensajeError"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            showNotify("Error al registrar Activo", '@TempData["MensajeError"]', "error");
        }
    </script>
}

<script src="~/Scripts/ScriptsInventarios/Activos.js"></script>
@* Script para las funciones e instancia del Wizard *@
<script>
    $(document).ready(function () {
        datosTipoActivo('@Url.Action("ObtenerTipoActivoHab", "TipoActivo")');
        datosCategoria('@Url.Action("ObtenerCategoriasActivosHab", "CategoriaActivo")');
        datosLaboratorio('@Url.Action("ObtenerLaboratoriosHab", "Laboratorios")');
        datosMarcas('@Url.Action("ObtenerMarcasHab", "Marcas")');
        datosTipoAccesorio('@Url.Action("ObtenerTipoAccesorioHab", "TipoAccesorio")');
        cargarEstadosCmb();
        cargarEstadosAccesorioCmb();
        cargarNombresActivos('@Url.Action("ObtenerNombresActivos", "Activos")');
        obtenerResponsable('@Url.Action("ObtenerResponsableActual", "Activos")');
        mensajesTooltips();

        $(function () {
            $('input[name="FechaIngresoActivo"]').daterangepicker({
                startDate: new Date(),
                format: 'dd-mm-yyyy',
                singleDatePicker: true,
                showDropdowns: true,
                minDate: "01/01/1990",
                maxDate: new Date()
            }, function (start, end, label) {
                //console.log(start);
                var years = moment().diff(start, 'years');
                //alert("You are " + years + " years old!");
            });
        });

        // Inicializar Smart Wizard
        $('#wizard').smartWizard({
            // Propiedades
            transitionEffect: 'fade', // Efecto de navición
            labelNext: 'Siguiente', // Nombre del botón siguiente
            labelPrevious: 'Anterior', // Nombre del botón anterior
            labelFinish: 'Finalizar',  // Nombre del botón finalizar
            onLeaveStep: leaveAStepCallback,//Métodos de validación de pasos
            onShowStep: showAStepCallback,
            onFinish: onFinishCallback
        });

        function leaveAStepCallback(obj, context) {
            console.log(context.toStep + "-" + context.fromStep)
            if (context.toStep < context.fromStep) {
                return true;
            }
            var step_num = obj.attr('rel');
             return validateSteps(step_num);

        }

        function showAStepCallback(obj) {
            var currentStep = obj.attr('rel');
            if (currentStep > 2) { // last step number
                console.log("entro");
                $('.buttonPrevious').addClass('buttonDisabled');
                $("#wizard").smartWizard('disableStep', 1);
                $("#wizard").smartWizard('disableStep', 2);

            }
            if (currentStep > 3) {
                console.log("fueeee");

                $('.buttonFinish').removeClass('buttonDisabled');
            }
        }


        function onFinishCallback() {
            location.href = '@Url.Action("NuevoActivo", "Activos")';
        }

        //Validación de campos obligatorios en los pasos
        function validateSteps(stepnumber) {
            console.log(stepnumber);
            var isStepValid = true;
            // validate step 1
            if (stepnumber == 1) {
                if (validarPaso1() == false) {
                    isStepValid = false;
                    $('#wizard').smartWizard('showMessage', 'Llenar los campos obligatorios en el paso ' + stepnumber + ' y presione Siguiente.');
                    $('#wizard').smartWizard('setError', { stepnum: stepnumber, iserror: true });
                    setTimeout("$('.msgBox').fadeOut('slow');", 10000);
                }
            }
            if (stepnumber == 2) {
                isStepValid = validarPaso2('@Url.Action("NuevoActivo", "Activos")','@Url.Action("ObtenerImagenQR")','@Url.Action("ObtenerPDFQRSimple", "Activos")');
                if (isStepValid == false) {
                    $('#wizard').smartWizard('showMessage', 'Hubo un error en el paso ' + stepnumber + ' : El nombre de Activo ya existe.');
                    setTimeout("$('.msgBox').fadeOut('slow');", 10000);
                }
            }

            return isStepValid;
        }

        $('#NombreActivo').blur(function () {
            comprobarNombre();
        });

    });
</script>
