@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
    Autores: Andres Chisaguano - Joel Ludeña
    Descripción: Vista para la modificación de un sistema operativo.
*@

@* Sección para la definición del menú de administrador o auxiliar técnico *@
@{
    ViewBag.Title = "Sistemas Operativos";
    Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}

@* Sección para la navegación entre pestañas*@
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
    <li><a>@ViewBag.Title </a></li>
    <li><a class="active">Modificar Sistema Operativo</a></li>
</ul>
<div class="row">
    @* Panel para mostrar la tabla de modificación de sistema operativo*@
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="x-content">
                    <div class="col-md-6 col-sm-12 col-xs-12 ">
                        <h3>Listado de Sistemas Operativos</h3>
                    </div>
                </div>
                @* Sección para botones de ingresar sistema operativo y actualizar página *@
                <ul class="nav navbar-right panel_toolbox">
                    <li><button type="button" class="btn btn-round btn-success float-right" onclick="location.href='@Url.Action("NuevoSistOperativo", "SistOperativo")'"><i class="fa fa-plus"></i> Agregar Sistema Operativo</button></li>
                    <li> <button type="button" class="btn btn-round btn-success float-right" onclick="location.href='@Url.Action("ModificarSistOperativo", "SistOperativo")'"><i class="fa fa-refresh"></i> Actualizar</button></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                @* Sección para la tabla de modificación mediante js *@
                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                    <div id="tablaModificarSistemaOperativo">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Modal de modificación de marcas *@
<div class="modal fade" id="ModificarSo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modificar Sistema Operativo</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_content">
                            <br>
                            @* Formulario para envio de datos de los componentes para la modificación de una nuevo sistema operativo
                              (Metodo de la clase) - Controlador (Controller) *@
                            @using (Html.BeginForm("NuevoSistOperativo", "SistOperativo"))
                            {
                                <div class="form-horizontal form-label-left input_mask">
                                    @* Cuadro de texto para el ingreso del nombre de un nuevo sistema operativo *@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <input id="NombreSistOperativos" type="text" class="form-control has-feedback-left" name="NombreSistOperativos" placeholder="Nombre del Sistema Operativo" maxlength="100" required>
                                        <span class="fa fa-pencil-square-o form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    @* Área de Texto para el ingreso de la descripción de un nuevo sistema operativo*@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <textarea id="DescripcionSistOperativos" class="form-control has-feedback-left" name="DescripcionSistOperativos" rows="3" placeholder="Descripción del Sistema Operativo" maxlength="150"></textarea>
                                        <span class="fa  fa-comments-o form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    @* Checkbox para habilitar o deshabilitar el uso del nuevo sistema operativo*@
                                    <div class="form-group">
                                        <label class="col-md-12 col-sm-12 col-xs-12">¿Habilitar Sistema Operativo?</label>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <input id="HabilitadoSistOperativos" name="HabilitadoSistOperativos" type="checkbox" class="js-switch" value="true" checked />
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    @* Sección de botones para guardar sistema operativo o cancelar el registro *@
                                    <div class="form-group text-center">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <button type="submit" class="btn btn-success">Modificar</button>
                                            <button type="button" class="btn btn-primary " data-dismiss="modal" aria-label="Close">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/ScriptsInventarios/SistemasOperativos.js"></script>
<script>
    $(document).ready(function () {

        obtenerSo(url);

        //obtenerMetodoRol('@Url.Action("ObtenerRolesHab", "Roles")','@Url.Action("ObtenerUsuariosRoles", "Usuarios")');

    });

</script>

