@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
    Autores: Andres Chisaguano - Joel Ludeña
    Descripción: Vista para la modificación de una Máquina Virtual.
*@

@* Sección para la definición del menú de administrador o auxiliar técnico *@
@{
    ViewBag.Title = "Máquinas Virtuales";
    Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}

@* Sección para la navegación entre pestañas*@
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
    <li><a>@ViewBag.Title </a></li>
    <li><a class="active">Modificar Máquina Virtual</a></li>
</ul>
<div class="row">
    @* Panel para mostrar la tabla de modificación de máquina virtual*@
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="x-content">
                    <div class="col-md-6 col-sm-12 col-xs-12 ">
                        <h3>Listado de Máquinas Virtuales</h3>
                    </div>
                </div>
                @* Sección para botones de ingresar una nueva máquina virtual y actualizar página *@
                <ul class="nav navbar-right panel_toolbox">
                    <li><button type="button" class="btn btn-round btn-success float-right" onclick="location.href='@Url.Action("NuevaMaqVirtual", "MaqVirtuales")'"><i class="fa fa-plus"></i> Agregar MV</button></li>
                    <li> <button type="button" class="btn btn-round btn-success float-right" onclick="location.href='@Url.Action("ModificarMaqVirtual", "MaqVirtuales")'"><i class="fa fa-refresh"></i> Actualizar</button></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                @* Sección para la tabla de modificación mediante js *@
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="tablaModificarMaquinaV">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Modal de modificación de Máquinas Virtuales *@
<div class="modal fade" id="ModificarMaquinaV" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modificar Máquina Virtual</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_content">
                            <br>
                            @* Formulario para envio de datos de los componentes para modificación de una  Máquina Virtual
                                (Metodo de la clase) - Controlador (Controller) *@
                            <div class="form">
                                <div class="form-horizontal form-label-left input_mask">
                                    @* Combobox para seleccionar un sistema operativo de la máquina virtual*@
                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <label>Escoja el Sistema Operativo:</label>
                                            <div id="cargarSO"></div>
                                        </div>
                                    </div>
                                    @* Área de Texto para seleccionar el propósito de la máquina virtual *@
                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <label>Escoja el Propósito:</label>
                                            <div id="cargarPropositos"></div>
                                        </div>
                                    </div>
                                    @* Cuadro de texto para el ingreso del nombre del responsable de la máquina virtual *@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <input id="UsuarioMaqVirtuales" type="text" class="form-control has-feedback-left" name="UsuarioMaqVirtuales" placeholder="Usuario Responsable" maxlength="80" required>
                                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    @* Cuadro de texto para el ingreso del nombre de una máquina virtual *@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <input id="NombreMaqVirtuales" type="text" class="form-control has-feedback-left" name="NombreMaqVirtuales" placeholder="Nombre Máquina Virtual" maxlength="80" required>
                                        <span class="fa fa-desktop form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    @* Cuadro de texto para el ingreso de la dirección IP de una máquina virtual *@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <input id="DireccionIPMaqVirtuales" type="text" class="form-control has-feedback-left" name="DireccionIPMaqVirtuales" placeholder="Dirección IP" maxlength="80" required>
                                        <span class="fa fa-wifi form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    @* Cuadro de texto para el ingreso del disco y RAM de una máquina virtual *@
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                            <label>Disco (GB):</label>
                                            <input id="DiscoMaqVirtuales" type="number" class="form-control has-feedback-left" name="DiscoMaqVirtuales" placeholder="0" min="0" required>
                                            <span class="fa fa-database form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                            <label>RAM (GB):</label>
                                            <input id="RamMaqVirtuales" type="number" class="form-control has-feedback-left" name="RamMaqVirtuales" placeholder="0" min="0" max="128" required>
                                            <span class="fa fa-tachometer form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    @* Área de Texto para el ingreso de la descripción de una máquina virtual *@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <textarea id="DescripcionMaqVirtuales" name="DescripcionMaqVirtuales" class="form-control has-feedback-left" rows="3" placeholder="Descripción de la Máquina Virtual" maxlength="150"></textarea>
                                        <span class="fa  fa-comments-o form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    @* Checkbox para habilitar o deshabilitar el uso de la nueva máquina virtual *@
                                    <div class="form-group">
                                        <label class="col-md-12 col-sm-12 col-xs-12">¿Habilitar Máquina Virtual?</label>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <input id="HabilitadoMaqVirtuales" name="HabilitadoMaqVirtuales" type="checkbox" class="js-switch" value="true" checked />
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    @* Sección de botones para guardar máquina virtual o cancelar el registro *@
                                    <div class="form-group text-center">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <button type="submit" class="btn btn-success" onclick="modificarMaquinaV('@Url.Action("ModificarMaqVirtual", "MaqVirtuales")');">Modificar</button>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Sección para visualizar los mensajes de error o de éxito de transacción *@
@if (TempData["Mensaje"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            showNotify("Registro Exitoso", '@TempData["Mensaje"]', "success");
        }
    </script>
}
@if (TempData["MensajeError"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            showNotify("Error al registrar Máquina Virtual", '@TempData["MensajeError"]', "error");
        }
    </script>
}

@* Seccción para llamar al js de Máquina Virtual *@
<script src="~/Scripts/ScriptsInventarios/MaquinaVirtual.js"></script>
<script>
    $(document).ready(function () {
        //Método para obtener la las funciones de Máquinas Virtuales
        obtenerMaquinaV('@Url.Action("ObtenerMaqVirtualesComp", "MaqVirtuales")');
        obtenerSO('@Url.Action("ObtenerSistOperativosHab", "SistOperativo")');
        cargarPropositosCmb();
        urlEstados('@Url.Action("ModificarEstadoMaqVirtual", "MaqVirtuales")');

    });

</script>