<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Inventarios y Ticketing para Soporte Técnico</title>
    <link rel="shortcut icon" type="image/ico" href="@Url.Content("~/Content/Images/LogoUPSCircular.ico")">
    @Styles.Render("~/Content/css")
    <script type="text/javascript" src="~/Content/Tema/vendors/jquery/dist/jquery.min.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="~/Scripts/Site.js"></script>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    @* Sección para mostrar el icono de la Universidad y el título del sistema*@
                    <div class="navbar nav_title" style="border: 0;">
                        <div class="x_content">
                            <div class="row">
                                <div class="col-md-3">
                                    @* Enlace al método Index (Metodo de la clase) del Controlador Home (Controller) *@
                                    <a href="@Url.Action("Index", "Home")"><img src="~/Content/Images/LogoUPSCircular.png" height="60" width="60"></a>
                                </div>
                                <div class="col-md-9 image_section" id="image_section">
                                    @* Enlace al método Index (Metodo de la clase) del Controlador Home (Controller) *@
                                    <a href="@Url.Action("Index", "Home")"><img src="~/Content/Images/imagenEncabezado.png" style="width:100%"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="x_content">
                            <div class="profile_info">
                                @* ViewBag proveniente del Controloador Login, en el mismo se muestra el nombre del usuario actual *@
                                <h2 id="usuarioActual">@ViewBag.UsuarioLogin</h2>
                                @* ViewBag proveniente del Controloador Login, en el mismo se muestra el correo electrónico del usuario actual *@
                                <span>@ViewBag.Correo</span>
                            </div>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    @* Enlace al método Index (Metodo de la clase) del Controlador Home (Controller) *@
                                    <a href="@Url.Action("Index", "Home")" accesskey="h"><i class="fa fa-home"></i> Home</a>
                                </li>
                                <li>
                                    <a><i class="fa fa-desktop"></i> Activos de TI <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        @* Seccción de enlaces a ingreso de nueva categoria de activo o a modificación de categoria de activo *@
                                        <li><a href="@Url.Action("ModificarCategoriaActivo", "CategoriaActivo")">Categoría de Activos</a></li>
                                        @* Seccción de enlaces a ingreso de nuevo tipo de activo o a modificación de tipo de activo *@
                                        <li><a href="@Url.Action("ModificarTipoActivo", "TipoActivo")">Tipo de Activos</a></li>
                                        @* Seccción de enlaces a ingreso de nuevo laboratorio o a modificación de laboratorio *@
                                        <li><a href="@Url.Action("ModificarLaboratorio", "Laboratorios")">Laboratorios</a></li>
                                        @* Seccción de enlaces a ingreso de nueva marca o a modificación de marcas *@
                                        <li><a href="@Url.Action("ModificarMarca", "Marcas")">Marcas</a></li>
                                        @* Seccción de enlaces a ingreso de nuevo Tipo de Accesorio  o a modificación de Tipo de Accesorio *@
                                        <li><a href="@Url.Action("ModificarTipoAccesorio", "TipoAccesorio")">Tipo de Accesorio</a></li>
                                        @* Enlace al método NuevoActivo (Metodo de la clase) del Controlador Activos(Controller) *@
                                        <li><a href="@Url.Action("NuevoActivo", "Activos")" accesskey="n">Nuevo Activo de TI</a></li>
                                    </ul>
                                </li>
                                @* Seccción de enlaces Consulta de Activos o Consulta de Códigos QR *@
                                <li>
                                    <a><i class="fa fa-table"></i> Consulta de Activos<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        @* Seccción de enlaces para consulta de activos y CQR*@
                                        <li>
                                            @* Enlace al método ConsultaActivos (Metodo de la clase) del Controlador Activos(Controller) *@
                                            <a href="@Url.Action("ConsultaActivos", "Activos")" accesskey="a">Consulta General de Activos</a>
                                        </li>
                                        <li>
                                            @* Enlace al método ConsultaQR (Metodo de la clase) del Controlador Activos(Controller) *@
                                            <a href="@Url.Action("ConsultaCQR", "Activos")">Impresión de Códigos QR</a>
                                        </li>
                                    </ul>
                                </li>
                                @* Sección de enlaces a Máquinas Virtuales y Sistemas Operativos *@
                                <li>
                                    <a><i class="fa fa-cloud"></i>Máquinas Virtuales <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        @* Seccción de enlaces a ingreso de nuevo sistema operativo,maq virtuales o Luns*@
                                        <li>
                                            @* Enlace al método ModificarLUN (Metodo de la clase) del Controlador LUN(Controller) *@
                                            <a href="@Url.Action("ModificarLUN", "LUN")">LUN's/Storage</a>
                                        </li>
                                        <li>
                                            @* Enlace al método ModificarSistOperativo (Metodo de la clase) del Controlador SistOperativo(Controller) *@
                                            <a href="@Url.Action("ModificarSistOperativo", "SistOperativo")">Sistemas Operativos</a>
                                        </li>
                                        <li>
                                            @* Enlace al método ModificarMaqVirtual (Metodo de la clase) del Controlador MaqVirtuales(Controller) *@
                                            <a href="@Url.Action("ModificarMaqVirtual", "MaqVirtuales")" accesskey="m">Máquinas Virtuales</a>
                                        </li>
                                    </ul>
                                </li>
                                @*Sección de enlaces para generación de reportes*@
                                <li>
                                    <a><i class="fa fa-bar-chart-o"></i> Reportes<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        @* Sección de enlaces a reportes de Activos *@
                                        <li><a href="@Url.Action("ReportesActivos", "Reportes")" accesskey="r">Activos de TI</a></li>
                                        @* Sección de enlaces a reportes de Máquinas virtuales *@
                                        <li><a href="@Url.Action("ReportesMaqVirtuales", "Reportes")">Máquinas Virtuales</a></li>
                                        @* Sección de enlaces a reportes de Tickets *@
                                        <li><a href="@Url.Action("ReportesTickets", "Reportes")">Tickets</a></li>
                                        @* Sección de enlaces a reportes de Logs *@
                                        <li><a href="@Url.Action("ReportesLogs", "Reportes")">Logs</a></li>
                                        @* Sección de enlaces a parámetros de reportes *@
                                        <li><a href="@Url.Action("ParametrosReportes", "Reportes")">Configuración de Reportes</a></li>
                                    </ul>
                                </li>
                                <li>
                                    @* Enlace al método GestionTickets (Metodo de la clase) del Controlador Tickets(Controller) *@
                                    <a href="@Url.Action("GestionTickets", "Tickets")" accesskey="t"><i class="fa fa-ticket"></i>Gestión de Tickets</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu_section">
                            <h3>Administración</h3>
                            <ul class="nav side-menu">
                                @* Sección de enlaces a ingreso de nuevo Rol  o a modificación de Roles *@
                                <li>
                                    @* Enlace al método ModificarRol (Metodo de la clase) del Controlador Roles(Controller) *@
                                    <a href="@Url.Action("ModificarRol", "Roles")"><i class="fa fa-users"></i> Roles</a>
                                </li>
                                @* Sección de enlaces a ingreso de nuevo Usuario  o a modificación de Usuarios *@
                                <li>
                                    @* Enlace al método ModificarUsuario (Metodo de la clase) del Controlador Usuarios(Controller) *@
                                    <a href="@Url.Action("ModificarUsuario", "Usuarios")" accesskey="u"><i class="fa fa-user"></i> Usuarios</a>
                                </li>
                                @* Sección de enlaces para visualización de Logs *@
                                <li>
                                    @* Enlace al método Logs (Metodo de la clase) del Controlador Los(Controller) *@
                                    <a href="@Url.Action("Logs", "Logs")"><i class="fa fa-archive"></i> Logs</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    @* ViewBag proveniente del Controloador Login, en el mismo se muestra el nombre del usuario actual *@
                                    <img src="~/Content/Images/perfil.png" alt="">@ViewBag.NombreUsuario
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                @* Seccción de enlaces del menu lateral que se despliega del botón del usuario. *@
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="@Url.Action("PerfilUsuario", "Usuarios")"> Perfil</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#combinacion">Ayuda</a></li>
                                    <li><a onclick="cerrarSesion('@Url.Action("CerrarSesion", "Login")','@Url.Action("Login", "Login")')"><i class="fa fa-sign-out pull-right"></i> Cerrar Sesión</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <br />
                <!-- top tiles -->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @* Construcción del Body en el resto de las vistas que hacen uso de este Layout*@
                        @RenderBody()
                    </div>
                </div>
                <!-- /top tiles -->
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Universidad Politécnica Salesiana &copy; @DateTime.Now.Year
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    @*Modal de Ayuda*@
    <div class="modal fade product_view" id="combinacion">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                    <h3 class="modal-title">Ayuda</h3>
                </div>
                <div class="modal-body">
                    <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h4 class="panel-title">Teclas de Acceso Rápido</h4>
                            </a>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <b>Las combinaciones de teclas para acceder más rápido a las funcionalidades:</b>
                                    <ul>
                                        <li><b>ALT + H: </b><a href='@Url.Action("Index","Home")'> Home</a></li>
                                        <li><b>ALT + A: </b><a href='@Url.Action("ConsultaActivos","Activos")'> Activos de TI</a></li>
                                        <li><b>ALT + N: </b><a href='@Url.Action("NuevoActivo","Activos")'> Nuevo Activo de TI</a></li>
                                        <li><b>ALT + T: </b><a href='@Url.Action("GestionTickets","Tickets")'> Gestión de Tickets</a></li>
                                        <li><b>ALT + M: </b><a href='@Url.Action("ModificarMaqVirtual","MaqVirtuales")'> Máquinas Virtuales</a></li>
                                        <li><b>ALT + R: </b><a href='@Url.Action("ReportesActivos","Reportes")'> Reportes de Activos</a></li>
                                        <li><b>ALT + U: </b><a href='@Url.Action("ModificarUsuario","Usuarios")'> Usuarios</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <a class="panel-heading collapsed panel-warning" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <h4 class="panel-title">Estándares</h4>
                            </a>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <b>Estándares para el ingreso o modificación de registros: </b><br />
                                    <b>Para Categoría y Tipos de Activos:</b>
                                    <ul>
                                        <li><p>En campos "Nombres" se debe ingresar los caracteres en Mayúscula, sin Espacios ni Números. Caracteres especiales permitidos: <b>- / _ .</b></p></li>
                                    </ul>
                                    <b>Para el resto:</b>
                                    <ul>
                                        <li><p>En campos "Nombres" se debe ingresar los caracteres en Mayúscula, sin Espacios. Caracteres especiales permitidos: <b>- / _ .</b></p></li>
                                        <li><p>En campos "Descripción" los caracteres especiales permitidos: <b>- / _ .</b></p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <a class="panel-heading collapsed panel-warning" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <h4 class="panel-title">Responsable o Custodio de Activos</h4>
                            </a>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <b align="justify">Para modificar el responsable o custodio de los activos de TI</b>
                                    <ol>
                                        <li>Ir a Activos de TI.</li>
                                        <li>Nuevo Activo de TI.</li>
                                        <li>En el campo Responsable del Activo.</li>
                                        <li>Clic en el botón de Modificar el Responsable del Activo.</li>
                                        <li>Finalmente, cambiar el nombre de Responsable del Activo.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <a class="panel-heading collapsed" role="tab" id="headingFour" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <h4 class="panel-title">Impresión de CQR en Lote</h4>
                            </a>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body">
                                    <b align="justify">Para la selección de CQRs de Activos o Accesorios antes de su impresión:</b>
                                    <ol>
                                        <li>Ir a Consulta de Activos, Impresión de Códigos QR.</li>
                                        <li>Aplicar los filtros necesarios.</li>
                                        <li>
                                            Seleccionar los códigos QR de Activos o Accesorios que se requieran imprimir.<br />
                                            En caso de que se requiera imprimir todos los códigos QR de Activos o Accesorios, dar clic en el CheckBox de la cabecera de la tabla.
                                        </li>
                                        <li>Finalmente, clic en el bóton Imprimir PDF.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <a class="panel-heading collapsed" role="tab" id="headingFive" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <h4 class="panel-title">Generación de Reportes</h4>
                            </a>
                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="panel-body">
                                    <b align="justify">Para generar un reporte PDF o Excel:</b>
                                    <ol>
                                        <li>Ir a Reportes, seleccionar la categóría de reportes requerida.</li>
                                        <li>
                                            Aplicar los filtros necesarios.<br />
                                            En caso de haber aplicado filtros con rangos de fecha, se recomienda usar el botón Limpiar para realizar otra búsqueda.
                                        </li>
                                        <li>Clic en el bóton Reporte PDF o Reporte Excel.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
