@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Inventarios y Ticketing para Soporte Técnico</title>
    <link rel="shortcut icon" type="image/ico" href="@Url.Content("~/Content/Images/LogoUPSCircular.ico")">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="~/Content/Tema/vendors/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Site.js"></script>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    @* Sección para mostrar el icono de la Universidad y el título del sistema*@
                    <div class="navbar nav_title" style="border: 0;">
                        <div class="x_content">
                            <div class="row">
                                <div class="col-md-3">
                                    @* Enlace al método Index (Metodo de la clase) del Controlador Home (Controller) *@
                                    <a href="@Url.Action("Index", "Home")"><img src="~/Content/Images/LogoUPSCircular.png" height="60" width="60"></a>
                                </div>
                                <div class="col-md-9 image_section" id="image_section">
                                    @* Enlace al método Index (Metodo de la clase) del Controlador Home (Controller) *@
                                    <a href="@Url.Action("Index", "Home")"><img src="~/Content/Images/imagenEncabezado.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="x_content">
                            <div class="profile_info">
                                @* ViewBag proveniente del Controloador Login, en el mismo se muestra el nombre del usuario actual *@
                                <h2>@ViewBag.UsuarioLogin</h2>
                                @* ViewBag proveniente del Controloador Login, en el mismo se muestra el correo electrónico del usuario actual *@
                                <span>@ViewBag.Correo</span>
                            </div>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    @* Enlace al método Index (Metodo de la clase) del Controlador Home (Controller) *@
                                    <a href="@Url.Action("Index", "Home")" accesskey="h"><i class="fa fa-home"></i> Home</a>
                                </li>
                                @* Seccción de enlaces Consulta de Activos o Reportes de Activos *@
                                <li>
                                    <a href="@Url.Action("ConsultaActivos", "Activos")" accesskey="a"><i class="fa fa-table"></i> Consulta General de Activos</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    @* ViewBag proveniente del Controloador Login, en el mismo se muestra el nombre del usuario actual *@
                                    <img src="~/Content/Tema/images/user.png" alt="">@ViewBag.UsuarioLogin
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                @* Seccción de enlaces del menu lateral que se despliega del botón del usuario. *@
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="@Url.Action("PerfilUsuario", "Usuarios")"> Perfil</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#combinacion">Ayuda</a></li>
                                    <li><a onclick="cerrarSesion('@Url.Action("CerrarSesion", "Login")','@Url.Action("Login", "Login")')"><i class="fa fa-sign-out pull-right"></i> Cerrar Sesión</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <br />
                <!-- top tiles -->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @* Construcción del Body en el resto de las vistas que hacen uso de este Layout*@
                        @RenderBody()
                    </div>
                </div>
                <!-- /top tiles -->
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Universidad Politécnica Salesiana &copy; 2018
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    @*Modal de Ayuda*@
    <div class="modal fade product_view" id="combinacion">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                    <h3 class="modal-title">Ayuda</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <b>Las combinaciones de teclas para acceder más rápido a las funcionalidades:</b>
                            <ul>
                                <li><b>ALT + H: </b><a href='@Url.Action("Index","Home")'> Home</a></li>
                                <li><b>ALT + A: </b><a href='@Url.Action("ConsultaActivos","Activos")'> Activos de TI</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
