@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
    Autores: Andres Chisaguano - Joel Ludeña
    Descripción: Vista para el ingreso de un nuevo Tipo de Activo como por ejemplo
    en la categoria HARDWARE existen los tipos de activos CPU, MONITOR, etc.
*@

@* Sección para la definición del menú de administrador o auxiliar técnico *@
@{
    ViewBag.Title = "Tipos de Activos";
    Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}
@model DCICC.GestionInventarios.Models.TipoActivo

@* Sección para la navegación entre pestañas *@
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
    <li><a href="@Url.Action("ModificarTipoActivo", "TipoActivo")">Tipos de Activos</a></li>
    <li><a class="active">Nuevo</a></li>
</ul>
<div class="row">
    <div class="col-md-2 col-sm-12 col-xs-12"></div>
    @* Panel para mostrar las opciones de ingreso de una tipo de activo *@
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Nuevo Tipo de Activo </h2>
                <ul class="nav navbar-right panel_toolbox"></ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @* Formulario para envio de datos de los componentes para el ingreso de un nuevo tipo de activo
                    (Metodo de la clase) - Controlador (Controller) *@
                @using (Html.BeginForm("NuevoTipoActivoPOST", "TipoActivo", FormMethod.Post))
				{
                    <div class="form-horizontal form-label-left input_mask">
                        @* Combobox para seleccionar la categoria de un activo *@
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label>* Seleccione la Categoría del Activo</label>
                                <div id="cargarCategorias"></div>
                                <span id="errorCategoriaTipo" style="color:brown;"></span>
                            </div>
                        </div>
                        @* Cuadro de texto para el ingreso del nombre de un Tipo de activo *@
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <label>* Nombre de Tipo de Activo:</label>
                            <input id="NombreTipoActivo" type="text" class="form-control has-feedback-left" name="NombreTipoActivo" placeholder="SWITCH/LAN" onkeyup="this.value=this.value.replace(validarNombreSinNumeros(),'');" minlength="3" maxlength="50" data-toggle="tooltip" data-placement="rigth" title="" required>
                            <span class="fa fa-pencil-square-o form-control-feedback left" aria-hidden="true"></span>
                            <span id="errorNombreTipo" style="color:brown;"></span>
                        </div>
                        @* Área de Texto para el ingreso de la descripción de un tipo de activo *@
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <textarea id="DescripcionTipoActivo" name="DescripcionTipoActivo" class="form-control has-feedback-left" rows="3" placeholder="Descripción del Tipo de Activo" onkeyup="this.value=this.value.replace(validarTextos(),'');" maxlength="150" data-toggle="tooltip" data-placement="rigth" title=""></textarea>
                            <span class="fa fa-comments-o form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        @* Cuadro de texto para el ingreso de la vida útil de un Tipo de activo *@
                        <div class="form-group">
                            <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                <label>* Vida Útil (Años):</label>
                                <input id="VidaUtilTipoActivo" type="number" class="form-control has-feedback-left" name="VidaUtilTipoActivo" placeholder="20" onkeyup="this.value=this.value.replace(validarNumeros(),'');" onBlur="validarVidaUtil();"  min="1" max="100" data-toggle="tooltip" data-placement="rigth" title="" required>
                                <span class="fa fa-hourglass-start form-control-feedback left" aria-hidden="true"></span>
                                <span id="errorVidaTipo" style="color:brown;"></span>
                            </div>
                        </div>
                        @* Checkbox para habilitar o deshabilitar el uso del nuevo tipo de activo *@
                        <div class="form-group">
                            <label class="col-md-12 col-sm-12 col-xs-12">¿Habilitar Tipo de Activo?</label>
                            <div class="col-md-12 col-sm-9 col-xs-12">
                                <input name="HabilitadoTipoActivo" type="checkbox" class="js-switch" value="true" checked />
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        @* Sección de botones para guardar tipo de activo o cancelar el registro *@
                        <div class="form-group text-center">
                            <div class="col-md-12 col-sm-9 col-xs-12 ">
                                <button id="confirmarTipo" type="submit" class="btn btn-success">Ingresar</button>
                                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("ModificarTipoActivo", "TipoActivo")'">Cancelar</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@* Seccción para llamar al js de Tipo Activo*@
<script src="~/Scripts/ScriptsInventarios/TipoActivo.js"></script>
<script>
    $(document).ready(function () {
        //Método para obtener las tablas de Tipos de Activo
        obtenerTipoActivo('@Url.Action("ObtenerTipoActivoComp", "TipoActivo")');
        obtenerCategorias('@Url.Action("ObtenerCategoriasActivosHab", "CategoriaActivo")');
        mensajesTooltips();
        //Método para evitar la duplicidad de nombres
        $('#NombreTipoActivo').blur(function () {
            comprobarNombre();
		});

		//Mascaras de Ingresos
		$('#VidaUtilTipoActivo').mask('ABZ', {
			translation: {
				'Z': {
					pattern: /[0-9]/, optional: true
				},
				'A': {
					pattern: /[0-1]/, optional: true
				},
				'B': {
					pattern: /[0-9]/, optional: true
				}
			},
			onKeyPress: function (a, b, c, d) {
				if (!a) return;
				let m = a.match(/(\d{1})/g);
				if (!m) return;
				if (parseInt(m[0]) === 1) {
					d.translation.B.pattern = /[0]/;
				} else {
					d.translation.B.pattern = /[0-9]/;
				}
				if (parseInt(m[1]) == 0) {
					d.translation.Z.pattern = /[0]/;
				} else {
					d.translation.Z.pattern = /[0-9]/;
				}
				
				let temp_value = c.val();
				c.val('');
				c.unmask().mask('ABZ', d);
				c.val(temp_value);
			}
		});

    });

</script>