@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
    Autores: Andres Chisaguano - Joel Ludeña
    Descripción: Vista para la modificación de un ticket mediante una tabla extraida
    con js.
*@

@* Sección para la definición del menú de administrador o auxiliar técnico *@
@{
    ViewBag.Title = "Gestión de Tickets";
    Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}
@model DCICC.GestionInventarios.Models.Tickets

@* Sección para la navegación entre pestañas*@
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
    <li><a class="active">@ViewBag.Title </a></li>
</ul>
<div class="row">
    @* Panel para mostrar la tabla de modificación de tickets *@
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h3> Listado de Tickets</h3>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @* Sección para mostrar el acordión de las tablas con los tickets en sus diferentes estados.*@
                <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                    @* Sección para tickets Abiertos.*@
                    <div class="panel panel-info">
                        <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h4 class="panel-title">Abiertos <strong> (<span id="numeroAbiertos"></span>) :</strong> <small> Tickets Nuevos reportados por los Usuarios.</small> </h4>
                        </a>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div id="ticketsAbiertos"></div>

                            </div>
                        </div>
                    </div>
                    @* Sección para tickets En Curso.*@
                    <div class="panel panel-warning">
                        <a class="panel-heading collapsed panel-warning" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h4 class="panel-title">En Proceso <strong> (<span id="numeroEnCurso"></span>) :</strong> <small> Tickets que se encuentran en proceso de Solución.</small></h4>
                        </a>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div id="ticketsEnCurso"></div>
                            </div>
                        </div>
                    </div>
                    @* Sección para tickets En Espera.*@
                    <div class="panel panel-danger">
                        <a class="panel-heading collapsed panel-warning" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h4 class="panel-title">En Espera <strong> (<span id="numeroEnEspera"></span>) :</strong> <small> Tickets que se han asignado a proveedores o terceras personas.</small> </h4>
                        </a>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div id="ticketsEnEspera"></div>
                            </div>
                        </div>
                    </div>
                    @* Sección para tickets Resueltos.*@
                    <div class="panel panel-success">
                        <a class="panel-heading collapsed" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <h4 class="panel-title">Resueltos <strong> (<span id="numeroResueltos"></span>) :</strong> <small> Tickets que se han Solucionado</small></h4>
                        </a>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <div id="ticketsResueltos"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@* Modal de modificación de tickets Abiertos *@
<div class="modal fade" id="ModificarTickets" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Gestión de Tickets para Soporte Técnico</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_content">
                            @* Formulario para actualización de datos de los tickets Abiertos.
                                (Metodo de la clase) - Controlador (Controller) *@
                            <div class="form">
                                <div class="form-horizontal form-label-left input_mask">
                                    @* Cuadro de texto para el ingreso de la fecha de apertura del ticket*@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <label>Fecha de apertura del ticket:</label>
                                        <input id="FechaAperturaTicket" type="text" class="form-control has-feedback-left" name="FechaAperturaTicket" placeholder="Fecha Apertura" readonly>
                                        <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    @* Cuadro de texto para el ingreso de la descripción del ticket*@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <label>Descripción de la incidencia:</label>
                                        <textarea id="DescripcionTicket" name="DescripcionTicket" class="form-control has-feedback-left" rows="3" placeholder="Descripción del ticket" readonly></textarea>
                                        <span class="fa fa-commenting-o form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    <div class="form-group">
                                        @* Cuadro de texto para el ingreso de+l usuario que reporto el ticket*@
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                            <label>Reportado por:</label>
                                            <input id="NombreUsuario" type="text" class="form-control has-feedback-left" name="NombreUsuario" placeholder="Usuario que reporta" readonly>
                                            <span class="fa fa-id-badge form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                        @* Cuadro de texto para el ingreso de la prioridad del ticket *@
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                            <label>Prioridad de la incidencia:</label>
                                            <input id="PrioridadTicket" type="text" class="form-control has-feedback-left" name="PrioridadTicket" placeholder="Prioridad del ticket" readonly>
                                            <span class="fa fa-exclamation-triangle form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @* Combobox para seleccionar una responsable del ticket*@
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <label>* Asignar responsable:</label>
                                            <div id="cargarResponsablesCmb"></div>
                                            <span id="errorResponsableAbi" style="color:brown;"></span>
                                        </div>
                                        @* Combobox para seleccionar una acción del ticket*@
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <label>* Cambiar de estado:</label>
                                            <div id="cargarAbiertosCmb"></div>
                                            <span id="errorAbiertos" style="color:brown;"></span>
                                        </div>
                                    </div>
                                    @* Área de Texto para el ingreso de un comentario del ticket *@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <textarea id="ComentarioTicket" name="ComentarioTicket" class="form-control has-feedback-left" rows="3" placeholder="Comentario del cambio de Estado de la Incidencia" onkeyup="this.value=this.value.replace(validarTextos(),'');" data-toggle="tooltip" data-placement="rigth" title="" maxlength="500"></textarea>
                                        <span class="fa fa-comments-o form-control-feedback left" aria-hidden="true"></span>
                                    </div>

                                    @* Sección de botones para guardar usuario o cancelar el registro *@
                                    <div class="form-group text-center">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <button id="confirmarAbierto" type="submit" class="btn btn-success" onclick="modificarEstadoTicket('@Url.Action("ModificarTicket", "Tickets")')">Modificar</button>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Modal de modificación de tickets en curso *@
<div class="modal fade" id="ModificarTicketsEnCurso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">Solucionar Tickets para Soporte Técnico En Proceso</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_content">

                            @* Formulario para actualización de datos de los tickets.
                                (Metodo de la clase) - Controlador (Controller) *@
                            <div class="form">
                                <div class="form-horizontal form-label-left input_mask">
                                    @* Cuadro de texto para el ingreso de la fecha de apertura del ticket*@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <label>Fecha de apertura del ticket:</label>
                                        <input id="FechaAperturaTicketEC" type="text" class="form-control has-feedback-left" name="FechaAperturaTicket" placeholder="Fecha Apertura" readonly>
                                        <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    @* Cuadro de texto para el ingreso de la descripcion del ticket*@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <label>Descripción de la incidencia:</label>
                                        <textarea id="DescripcionTicketEC" name="DescripcionTicket" class="form-control has-feedback-left" rows="3" placeholder="Descripción del ticket" readonly></textarea>
                                        <span class="fa fa-commenting-o form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    <div class="form-group">
                                        @* Cuadro de texto para el ingreso del nombre de usuario que reporto el ticket*@
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                            <label>Reportado por:</label>
                                            <input id="NombreUsuarioEC" type="text" class="form-control has-feedback-left" name="NombreUsuario" placeholder="Usuario que reporta" readonly>
                                            <span class="fa fa-id-badge form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                        @* Cuadro de texto para el ingreso de la prioridad del ticket*@
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                            <label>Prioridad de la incidencia:</label>
                                            <input id="PrioridadTicketEC" type="text" class="form-control has-feedback-left" name="PrioridadTicket" placeholder="Prioridad del ticket" readonly>
                                            <span class="fa fa-exclamation-triangle form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @* Cuadro de texto para el ingreso del usuario asignado*@
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                            <label>Responsable Asignado:</label>
                                            <input id="ResponsableAsignadoEC" type="text" class="form-control has-feedback-left" name="ResponsableAsignadoEC" placeholder="Responsable Asignado" readonly>
                                            <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                        @* Cuadro de texto para el ingreso del usuario asignado*@
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                            <label>Fecha de Asignación:</label>
                                            <input id="FechaAsignadoEC" type="text" class="form-control has-feedback-left" name="FechaAsignadoEC" placeholder="Fecha Asignacion" readonly>
                                            <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    @* Combobox para seleccionar un cambio de estado*@
                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <label>Cambiar de estado:</label>
                                            <div id="cargarEnCursoCmb"></div>
                                            <span id="errorEnCurso" style="color:brown;"></span>
                                        </div>
                                    </div>

                                    @* Área de Texto para el ingreso del comentario del ticket *@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <textarea id="ComentarioTicketEC" name="ComentarioTicket" class="form-control has-feedback-left" rows="3" placeholder="Comentario del cambio de Estado de la Incidencia" onkeyup="this.value=this.value.replace(validarTextos(),'');" data-toggle="tooltip" data-placement="rigth" title="" maxlength="500"></textarea>
                                        <span class="fa fa-comments-o form-control-feedback left" aria-hidden="true"></span>
                                    </div>

                                    @* Sección de botones para guardar usuario o cancelar el registro *@
                                    <div class="form-group text-center">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <button id="confirmarEnCurso" type="submit" class="btn btn-success" onclick="modificarEstadoTicketEnCurso('@Url.Action("ModificarTicket", "Tickets")');">Modificar</button>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Modal de modificación de tickets en Espera *@
<div class="modal fade" id="ModificarTicketsEnEspera" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel3">Solucionar Tickets para Soporte Técnico En Espera</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_content">

                            @* Formulario para actualización de datos de los tickets.
                                (Metodo de la clase) - Controlador (Controller) *@
                            <div class="form">
                                <div class="form-horizontal form-label-left input_mask">
                                    @* Cuadro de texto para el ingreso de la fecha de apertura del ticket*@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <label>Fecha de apertura del ticket:</label>
                                        <input id="FechaAperturaTicketEnEs" type="text" class="form-control has-feedback-left" name="FechaAperturaTicket" placeholder="Fecha Apertura" readonly>
                                        <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    @* Cuadro de texto para el ingreso de la descripcion del ticket*@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <label>Descripción de la incidencia:</label>
                                        <textarea id="DescripcionTicketEnEs" name="DescripcionTicket" class="form-control has-feedback-left" rows="3" placeholder="Descripción del ticket" readonly></textarea>
                                        <span class="fa fa-commenting-o form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    <div class="form-group">
                                        @* Cuadro de texto para el ingreso del nombre de usuario que reporto el ticket*@
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                            <label>Reportado por:</label>
                                            <input id="NombreUsuarioEnEs" type="text" class="form-control has-feedback-left" name="NombreUsuario" placeholder="Usuario que reporta" readonly>
                                            <span class="fa fa-id-badge form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                        @* Cuadro de texto para el ingreso de la prioridad del ticket*@
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                            <label>Prioridad de la incidencia:</label>
                                            <input id="PrioridadTicketEnEs" type="text" class="form-control has-feedback-left" name="PrioridadTicket" placeholder="Prioridad del ticket" readonly>
                                            <span class="fa fa-exclamation-triangle form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @* Cuadro de texto para el ingreso del usuario asignado*@
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                            <label>Responsable Asignado:</label>
                                            <input id="ResponsableAsignadoEnEs" type="text" class="form-control has-feedback-left" name="ResponsableAsignadoEnEs" placeholder="Responsable Asignado" readonly>
                                            <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                        @* Cuadro de texto para el ingreso del usuario asignado*@
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
                                            <label>Fecha de Asignación:</label>
                                            <input id="FechaAsignadoEnEs" type="text" class="form-control has-feedback-left" name="FechaAsignadoEnEs" placeholder="Fecha Asignacion" readonly>
                                            <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    @* Combobox para seleccionar un cambio de estado*@
                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <label>Cambiar de estado:</label>
                                            <div id="cargarEnEsperaCmb"></div>
                                            <span id="errorEnEspera" style="color:brown;"></span>
                                        </div>
                                    </div>

                                    @* Área de Texto para el ingreso del comentario del ticket *@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <textarea id="ComentarioTicketEnEs" name="ComentarioTicket" class="form-control has-feedback-left" rows="3" placeholder="Comentario del cambio de Estado de la Incidencia" onkeyup="this.value=this.value.replace(validarTextos(),'');" data-toggle="tooltip" data-placement="rigth" title="" maxlength="500"></textarea>
                                        <span class="fa fa-comments-o form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    <div class="ln_solid"></div>
                                    @* Sección de botones para guardar usuario o cancelar el registro *@
                                    <div class="form-group text-center">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <button id="confirmarEnEspera" type="submit" class="btn btn-success" onclick="modificarEstadoTicketEnEspera('@Url.Action("ModificarTicket", "Tickets")');">Modificar</button>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Sección para visualizar los mensajes de error o de éxito de transacción *@
@if (TempData["Mensaje"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            showNotify("Registro Exitoso", '@TempData["Mensaje"]', "success");
        }
    </script>
}
@if (TempData["MensajeError"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            showNotify("Error al registrar Usuario", '@TempData["MensajeError"]', "error");
        }
    </script>
}

@* Seccción para llamar al js de Tickets*@
<script src="~/Scripts/ScriptsInventarios/Tickets.js"></script>
<script>
    $(document).ready(function () {
        //Método para obtener las tablas de tickets
        obtenerTickets('@Url.Action("ObtenerTicketsComp", "Tickets")');
        datosResponsables('@Url.Action("ObtenerUsuariosRespTickets", "Usuarios")');
		mensajesTooltipsAbiertos();
		mensajesTooltipsEnCurso();
		mensajesTooltipsEnEspera();

		$('#ModificarTickets').on('hidden.bs.modal', function () {
			$(".modal-body select").css("borderColor", "#ccc");
			$(".modal-body select").val("");
			$(".modal-body span[id=errorResponsableAbi]").html('').hide();
			$(".modal-body span[id=errorAbiertos]").html('').hide();
			$(".modal-body textarea").val("");
			$("#Responsables").tooltip('hide');
			$("#ComentarioTicket").tooltip('hide');
        });

		$('#ModificarTicketsEnCurso').on('hidden.bs.modal', function () {
			$(".modal-body select").css("borderColor", "#ccc");
            $(".modal-body select").val("");
			$(".modal-body textarea").val("");			
			$(".modal-body span[id=errorEnCurso]").html('').hide();
			$("#ComentarioTicketEC").tooltip('hide');
        });

        $('#ModificarTicketsEnEspera').on('hidden.bs.modal', function () {
			$(".modal-body select").css("borderColor", "#ccc");
			$(".modal-body select").val("");
			$(".modal-body textarea").val("");
			$(".modal-body span[id=errorEnEspera]").html('').hide();
			$("#ComentarioTicketEnEs").tooltip('hide');
		});

    });

</script>