@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
    Autores: Andres Chisaguano - Joel Ludeña
    Descripción: Vista para la modificación de un Usuario.
*@

@* Sección para la definición del menú de administrador o auxiliar técnico *@
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}

@* Sección para la navegación entre pestañas*@
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
    <li><a>@ViewBag.Title </a></li>
    <li><a class="active">Modificar Usuario</a></li>
</ul>
<div class="row">
    @* Panel para mostrar la tabla de modificación de usuarios*@
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="x-content">
                    <div class="col-md-6 col-sm-12 col-xs-12 ">
                        <h3>Listado de Usuarios</h3>
                    </div>
                </div>
                @* Sección para botones de ingresar nuevo usuario y actualizar página *@
                <ul class="nav navbar-right panel_toolbox">
                    <li><button type="button" class="btn btn-round btn-success float-right" onclick="location.href='@Url.Action("NuevoUsuario", "Usuarios")'"><i class="fa fa-plus"></i> Agregar Usuario</button></li>
                    <li> <button type="button" class="btn btn-round btn-success float-right" onclick="location.href='@Url.Action("ModificarUsuario", "Usuarios")'"><i class="fa fa-refresh"></i> Actualizar</button></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                @* Sección para la tabla de modificación mediante js *@
                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                    <div id="tablaModificarUsuarios">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@* Modal de modificación de categorías de activos *@
<div class="modal fade" id="ModificarUsuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modificar Usuario</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_content">

                            @* Formulario para actualizaci[on de datos de los componentes para el ingreso de un nuevo usuario.
                                (Metodo de la clase) - Controlador (Controller) *@
                            <div class="form">
                                <div class="form-horizontal form-label-left input_mask">
                                    @* Combobox para seleccionar un rol de usuario*@
                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <label>Escoja rol de usuario:</label>
                                            <div id="cargarRolesUpdate"></div>
                                        </div>
                                    </div>
                                    @* Cuadro de texto para el ingreso del nombre completo del usuario*@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <input id="NombresUsuario" type="text" class="form-control has-feedback-left" name="NombresUsuario" placeholder="Nombre Completo del Usuario" maxlength="100" required>
                                        <span class="fa fa-address-card-o form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    @* Cuadro de texto para el ingreso del correo del usuario*@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <input id="CorreoUsuario" type="email" class="form-control has-feedback-left" name="CorreoUsuario" placeholder="usuario@ups.edu.ec" maxlength="40" required>
                                        <span class="fa fa-envelope-o form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    @* Cuadro de texto para el ingreso del nick(Nombre de Usuario)*@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <input id="NickUsuario" type="text" class="form-control has-feedback-left" name="NickUsuario" placeholder="Nick de Usuario" maxlength="15" required>
                                        <span class="fa fa-id-badge form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    @* Cuadro de texto para el ingreso del password del usuario*@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <input id="PasswordUsuario" type="password" class="form-control has-feedback-left" name="PasswordUsuario" placeholder="Contraseña" minlength="6" maxlength="30" required>
                                        <span class="fa fa-lock form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    @* Cuadro de texto para el ingreso del teléfono convencional del usuario*@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <input id="TelefonoUsuario" type="text" class="form-control has-feedback-left" name="TelefonoUsuario" placeholder="Teléfono Convencional" maxlength="11" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                                        <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    @* Cuadro de texto para el ingreso del teléfono celular del usuario*@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <input id="TelefonoCelUsuario" type="text" class="form-control has-feedback-left" name="TelefonoCelUsuario" placeholder="Teléfono Celular" maxlength="11" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                                        <span class="fa fa-mobile-phone form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    @* Área de Texto para el ingreso de la direccion de un usuario *@
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                        <textarea id="DireccionUsuario" name="DireccionUsuario" class="form-control has-feedback-left" rows="3" placeholder="Dirección Domicilio" maxlength="80"></textarea>
                                        <span class="fa fa-comments-o form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    @* Checkbox para habilitar o deshabilitar el uso del nuevo usuario*@
                                    <div class="form-group">
                                        <label class="col-md-12 col-sm-12 col-xs-12">¿Habilitar Usuario?</label>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            @*<div id="checkUpdate"></div>*@
                                            <input id="HabilitadoUsuario" name="HabilitadoUsuario" type="checkbox" class="js-switch" value="true" checked />
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    @* Sección de botones para guardar usuario o cancelar el registro *@
                                    <div class="form-group text-center">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <button type="submit" class="btn btn-success" onclick="modificarUsuario('@Url.Action("ModificarUsuario", "Usuarios")','@Url.Action("ObtenerUsuariosRoles", "Usuarios")')">Modificar</button>
                                            <button type="button" class="btn btn-primary " data-dismiss="modal" aria-label="Close">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@if (TempData["Mensaje"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            showNotify("Actualización exitosa", '@TempData["Mensaje"]', "success");
        }
    </script>
}
@if (TempData["MensajeError"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            showNotify("Error en la Actualización", '@TempData["MensajeError"]', "error");
        }
    </script>
}

<script src="~/Scripts/ScriptsInventarios/Usuario.js"></script>
<script>
    $(document).ready(function () {

        obtenerMetodoUsuarios('@Url.Action("ObtenerRolesHab", "Roles")', '@Url.Action("ObtenerUsuariosRoles", "Usuarios")', '@Url.Action("ObtenerUsuarioActual", "Usuarios")');
        /*$('#CorreoUsuario').blur(function () {
            var correo = document.getElementById("CorreoUsuario").value;
            comprobarCorreo(correo);
        });

        $('#NickUsuario').blur(function () {
            var nick = document.getElementById("NickUsuario").value;
            comprobarNick(nick);
        });*/

    });

</script>