@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
    Autores: Andres Chisaguano - Joel Ludeña
    Descripción: Vista para el ingreso de un nuevo Usuario.
*@

@* Sección para la definición del menú de administrador o auxiliar técnico *@
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}
@model DCICC.GestionInventarios.Models.Usuarios

@* Sección para la navegación entre pestañas*@
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
    <li><a href="@Url.Action("ModificarUsuario", "Usuarios")">@ViewBag.Title </a></li>
    <li><a class="active">Nuevo </a></li>
</ul>
<div class="row">
    @* Panel para mostrar las opciones de ingreso de un usuario *@
    <div class="col-md-2 col-sm-12 col-xs-12"></div>
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="form-group"><h2>Nuevo Usuario </h2></div>
                <ul class="nav navbar-right panel_toolbox"></ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                @* Formulario para envio de datos de los componentes para el ingreso de un nuevo usuario.
                    (Metodo de la clase) - Controlador (Controller) *@
                @using (Html.BeginForm("NuevoUsuarioPOST", "Usuarios", FormMethod.Post))
				{
                    <div class="form-horizontal form-label-left input_mask">
                        @* Combobox para seleccionar un rol de usuario*@
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label>* Seleccione rol de usuario:</label>
                                <div id="cargarRoles"></div>
                                <span id="errorRol" style="color:brown;"></span>
                            </div>
                        </div>
                        @* Cuadro de texto para el ingreso del nombre completo del usuario*@
						<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
							<label>* Nombre Completo del Usuario</label>
							<input id="NombresUsuario" type="text" class="form-control has-feedback-left" name="NombresUsuario" placeholder="Juan Pérez" onkeyup="this.value=this.value.replace(validarTextos(),'');" onBlur="validarInputNombre();" minlength="3" maxlength="80" data-toggle="tooltip" data-placement="rigth" title="" required>
							<span class="fa fa-address-card-o form-control-feedback left" aria-hidden="true"></span>
							<span id="errorNombreCompleto" style="color:brown;"></span>
						</div>
                        @* Cuadro de texto para el ingreso del correo del usuario*@
						<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
							<label>* Correo de Usuario</label>
							<input id="CorreoUsuario" type="email" class="form-control has-feedback-left" name="CorreoUsuario" placeholder="jperez@ups.edu.ec" onkeyup="this.value=this.value.replace(validarCorreo(),'');" onBlur="validarInputCorreo();" maxlength="50" data-toggle="tooltip" data-placement="rigth" title="" required>
							<span class="fa fa-envelope-o form-control-feedback left" aria-hidden="true"></span>
							<span id="errorCorreo" style="color:brown;"></span>
						</div>
                        @* Cuadro de texto para el ingreso del nick(Nombre de Usuario)*@
						<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
							<label>* Nick de Usuario</label>
							<input id="NickUsuario" type="text" class="form-control has-feedback-left" name="NickUsuario" placeholder="jPerez" onkeyup="this.value=this.value.replace(validarNicksBase(),'');" maxlength="15" data-toggle="tooltip" data-placement="rigth" title="" required>
							<span class="fa fa-id-badge form-control-feedback left" aria-hidden="true"></span>
							<span id="errorNick" style="color:brown;"></span>
						</div>
                        @* Cuadro de texto para el ingreso del password del usuario*@
						<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
							<label>* Password de Usuario</label>
							<input id="PasswordUsuario" type="password" class="form-control has-feedback-left" name="PasswordUsuario" placeholder="Contraseña" onkeyup="this.value=this.value.replace(validarPassword(),'');" onBlur="validarInputPass();" maxlength="20" data-toggle="tooltip" data-placement="rigth" title="" required>
							<span class="fa fa-lock form-control-feedback left" aria-hidden="true"></span>
							<span id="errorPassword" style="color:brown;"></span>
						</div>
                        @* Cuadro de texto para el ingreso del teléfono convencional del usuario*@
						<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
							<label>Teléfono de Usuario</label>
							<input id="TelefonoUsuario" type="text" class="form-control has-feedback-left" name="TelefonoUsuario" placeholder="(02) 3030186" maxlength="11"  data-toggle="tooltip" data-placement="rigth" title="">
							<span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
						</div>
                        @* Cuadro de texto para el ingreso del teléfono celular del usuario*@
						<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
							<label>Celular de Usuario</label>
							<input id="TelefonoCelUsuario" type="text" class="form-control has-feedback-left" name="TelefonoCelUsuario" placeholder="09-55446687" maxlength="11" data-toggle="tooltip" data-placement="rigth" title="">
							<span class="fa fa-mobile-phone form-control-feedback left" aria-hidden="true"></span>
						</div>
                        @* Área de Texto para el ingreso de la descripción de un usuario *@
						<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
							<label>Dirección de Usuario</label>
							<textarea id="DireccionUsuario" name="DireccionUsuario" class="form-control has-feedback-left" rows="3" placeholder="Av. Rumichaca Ñan" onkeyup="this.value=this.value.replace(validarTextos(),'');" maxlength="80" data-toggle="tooltip" data-placement="rigth" title=""></textarea>
							<span class="fa fa-comments-o form-control-feedback left" aria-hidden="true"></span>
						</div>
                        @* Checkbox para habilitar o deshabilitar el uso del nuevo usuario*@
                        <div class="form-group">
                            <label class="col-md-12 col-sm-12 col-xs-12">¿Habilitar Usuario?</label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input name="HabilitadoUsuario" type="checkbox" class="js-switch" value="true" checked />
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        @* Sección de botones para guardar usuario o cancelar el registro *@
                        <div class="form-group text-center">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button id="confirmarUsuario" type="submit" class="btn btn-success">Ingresar</button>
                                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("ModificarUsuario", "Usuarios")'">Cancelar</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-12 col-xs-12"></div>
</div>


@* Seccción para llamar al js de Usuarios*@
<script src="~/Scripts/ScriptsInventarios/Usuarios.js"></script>
<script>
    $(document).ready(function () {
        //Método para obtener las tablas de Usuarios
        obtenerUsuarios('@Url.Action("ObtenerUsuariosRoles", "Usuarios")');
        obtenerRoles('@Url.Action("ObtenerRolesHab", "Roles")');
        mensajesTooltips();
         //Método para evitar la duplicidad de correos
        /*$('#CorreoUsuario').blur(function () {
            var correo = document.getElementById("CorreoUsuario").value;
            comprobarCorreo(correo);
        });*/
        //Método para evitar la duplicidad de nicks
        $('#NickUsuario').blur(function () {
			comprobarNick();
			//comprobarRol_Nick();
		});

		$('#TelefonoUsuario').mask('(00) 0000000');
		$('#TelefonoCelUsuario').mask('00-00000000');

    });

</script>