@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
    Autores: Andres Chisaguano - Joel Ludeña
    Descripción: Vista para la generación de reportes de máquinas virtuales.
*@

@* Sección para la definición del menú de administrador o auxiliar técnico *@
@{
    ViewBag.Title = "Reportes de Máquinas Virtuales";
    Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}

@* Sección para la navegación entre pestañas*@
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
    <li><a class="active">@ViewBag.Title </a></li>
</ul>
<div class="row">
    @* Panel para mostrar la tabla de reportes *@
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_content">
            <div class="x_panel">
                <div class="x_title">
                    <div class="x-content">
                        <div class="col-md-6 col-sm-12 col-xs-12 ">
                            <h3>Máquinas Virtuales</h3>
                        </div>
                    </div>
                    @*Sección para botones de generar reportes en PDF y Excel*@
                    <ul class="nav navbar-right panel_toolbox">
                        <li><button type="button" class="btn btn-round btn-danger float-right" onclick="GenerarReportePDF('@Url.Action("GenerarDataTable", "Reportes")','@Url.Action("ObtenerReportePDF", "Reportes")','Máquinas Virtuales','dataTableMaquinaV');"><i class="fa fa-file-pdf-o"></i> Reporte PDF</button></li>
                        <li> <button type="button" class="btn btn-round btn-success float-right" onclick="GenerarReporteExcel('@Url.Action("GenerarDataTable", "Reportes")','@Url.Action("ObtenerReporteExcel", "Reportes")','Máquinas Virtuales','dataTableMaquinaV','');"><i class="fa fa-file-excel-o"></i> Reporte Excel</button></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <div class="form-horizontal form-label-left input_mask">
                        @*Sección de filtros de búsqueda para realizar la consulta*@
                        <div class="form-group">
                            @*Combobox para seleccionar ...*@
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <label>Filtro por Propósito:</label>
                                <div id="cargarPropositos"></div>
                            </div>
                            @*Combobox para seleccionar ...*@
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <label>Filtro por Sistema Operativo:</label>
                                <div id="cargarSO"></div>
                            </div>
                        </div>
                        <br />
                        @* Sección para la tabla de modificación mediante js *@
                        <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                            <div id="tablaReportesMaqVirtuales"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Seccción para llamar al js de Máquina Virtual *@
<script src="~/Scripts/ScriptsInventarios/Reporteria/ReporteMaqVir.js"></script>
<script>
    $(document).ready(function () {
        //Método para obtener la las funciones de Máquinas Virtuales
        obtenerMaquinaV('@Url.Action("ObtenerMaqVirtualesComp", "MaqVirtuales")');
        obtenerSO('@Url.Action("ObtenerSistOperativosComp", "SistOperativo")');
        listaPropositos('@Url.Action("ObtenerPropositosComp", "MaqVirtuales")');
        
    });

</script>