@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
    Autores: Andres Chisaguano - Joel Ludeña
    Descripción: Vista para la generación de reportes de activos de TI.
*@

@* Sección para la definición del menú de administrador o auxiliar técnico *@
@{
    ViewBag.Title = "Reportes de Activos de TI";
    Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}

@* Sección para la navegación entre pestañas*@
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
    <li><a class="active">@ViewBag.Title </a></li>
</ul>
<div class="row">
    @* Panel para mostrar la tabla de reportes *@
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Activos de TI</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false" onclick="obtenerAccesorios('@Url.Action("ObtenerAccesoriosComp", "Activos")');datosTipoAccesorio('@Url.Action("ObtenerTipoAccesorioComp", "TipoAccesorio")');">Accesorios</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_content3" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false" onclick="obtenerHistoricos('@Url.Action("ObtenerHistoricoActivosComp", "Activos")');">Históricos</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#tab_content4" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false" onclick="obtenerEspAdicionales('@Url.Action("ObtenerEspAdicionalesComp", "Activos")');">Esp. Adicionales</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                            @* Panel para visualizar la información de los activos de TI *@
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <div class="x-content">
                                            <div class="col-md-6 col-sm-12 col-xs-12 ">
                                                <h3>Consulta de Activos</h3>
                                            </div>
                                        </div>
                                        @*Sección para botones de generar reportes en PDF y Excel*@
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><button type="button" class="btn btn-round btn-danger float-right" onclick="GenerarReportePDF('@Url.Action("GenerarDataTable", "Reportes")','@Url.Action("ObtenerReportePDF", "Reportes")','Activos','dataTableActivos');"><i class="fa fa-file-pdf-o"></i> Reporte PDF</button></li>
                                            <li><button type="button" class="btn btn-round btn-success float-right" onclick="GenerarReporteExcel('@Url.Action("GenerarDataTable", "Reportes")','@Url.Action("ObtenerReporteExcel", "Reportes")','Activos','dataTableActivos',$('#LaboratorioActivo').find(':selected').text());"><i class="fa fa-file-excel-o"></i> Reporte Excel</button></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <br>
                                        <div class="form-horizontal form-label-left input_mask">
                                            @*Sección de filtros de búsqueda para realizar la consulta*@
                                            <div class="form-group">
                                                @*Combobox para seleccionar Tipo Activo*@
                                                <div class="col-md-3 col-sm-12 col-xs-12">
                                                    <label>Filtro por Tipo:</label>
                                                    <div id="cargarTipoActivo"></div>
                                                </div>
                                                @*Combobox para seleccionar Laboratorios*@
                                                <div class="col-md-3 col-sm-12 col-xs-12">
                                                    <label>Filtro por Laboratorio:</label>
                                                    <div id="cargarLaboratorios"></div>
                                                </div>
                                                @*Combobox para seleccionar Marcas*@
                                                <div class="col-md-3 col-sm-12 col-xs-12">
                                                    <label>Filtro por Marca:</label>
                                                    <div id="cargarMarcas"></div>
                                                </div>
                                                @*Combobox para seleccionar Marcas*@
                                                <div class="col-md-3 col-sm-12 col-xs-12">
                                                    <label>Filtro por Estado:</label>
                                                    <div id="cargarEstadosActivo"></div>
                                                </div>
                                            </div>
                                            <br />
                                            @*Sección de filtros de búsqueda para realizar la consulta*@
                                            <div class="form-group">
                                                <div class="col-md-4 col-sm-12 col-xs-12 form-group has-feedback">
                                                    <label>Fecha de Inicio: (mm/dd/yyyy)</label>
                                                    <input name="FechaInicio" type="text" class="form-control has-feedback-left" id="FechaInicio" placeholder="Fecha de Inicio" style="padding-left: 60px;" onkeyup="this.value=this.value.replace(validarFecha(),'');" maxlength="10" data-toggle="tooltip" data-placement="rigth" title="">
                                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true" style=" padding-right: 15px;"></span>
                                                </div>
                                                <div class="col-md-4 col-sm-12 col-xs-12 form-group has-feedback">
                                                    <label>Fecha de Fin: (mm/dd/yyyy)</label>
                                                    <input name="FechaFin" type="text" class="form-control has-feedback-left" id="FechaFin" placeholder="Fecha de Fin" style="padding-left: 60px;" onkeyup="this.value=this.value.replace(validarFecha(),'');" maxlength="10" data-toggle="tooltip" data-placement="rigth" title="">
                                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true" style=" padding-right: 15px;"></span>
                                                </div>
                                                <div class="col-md-4 col-sm-12 col-xs-12 form-group" style="bottom:-24px;">
                                                    <button type="button" class="btn btn-default" onclick="consultarFechas();">Consultar</button>
                                                    <button type="button" class="btn btn-default" onclick="obtenerActivos('@Url.Action("ObtenerActivosComp", "Activos")');">Limpiar</button>
                                                </div>
                                            </div>
                                            <br />

                                            @* Sección para la tabla de modificación mediante js *@
                                            <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                                                <div id="tablaReportesActivos"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                            @* Panel para visualizar la información de los activos de TI *@
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <div class="x-content">
                                            <div class="col-md-6 col-sm-12 col-xs-12 ">
                                                <h3>Consulta de Accesorios</h3>
                                            </div>
                                        </div>
                                        @*Sección para botones de generar reportes en PDF y Excel*@
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><button type="button" class="btn btn-round btn-danger float-right" onclick="GenerarReportePDF('@Url.Action("GenerarDataTable", "Reportes")','@Url.Action("ObtenerReportePDF", "Reportes")','Accesorios','dataTableAccesorios');"><i class="fa fa-file-pdf-o"></i> Reporte PDF</button></li>
                                            <li> <button type="button" class="btn btn-round btn-success float-right" onclick="GenerarReporteExcel('@Url.Action("GenerarDataTable", "Reportes")','@Url.Action("ObtenerReporteExcel", "Reportes")','Accesorios','dataTableAccesorios','');"><i class="fa fa-file-excel-o"></i> Reporte Excel</button></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <br>
                                        <div class="form-horizontal form-label-left input_mask">
											<div class="form-group">
												@*Combobox para seleccionar Tipo Accesorio*@
												<div class="col-md-5 col-sm-12 col-xs-12">
													<label>Filtro por Tipo de Accesorio:</label>
													<div id="cargarTipoAccesorio"></div>
												</div>
												@*Combobox para seleccionar Estado de Accesorio*@
												<div class="col-md-5 col-sm-12 col-xs-12">
													<label>Filtro por Estado:</label>
													<div id="cargarEstadosAccesorio"></div>
												</div>
												<div class="col-md-2 col-sm-12 col-xs-12 form-group" style="bottom:-24px;">													
													<button type="button" class="btn btn-default" onclick="obtenerAccesorios('@Url.Action("ObtenerAccesoriosComp", "Activos")');">Limpiar</button>
												</div>
											</div>
                                            <br />
                                            @* Sección para la tabla de modificación mediante js *@
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div id="tablaAccesorios"> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                            @* Panel para visualizar la información de los activos de TI *@
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <div class="x-content">
                                            <div class="col-md-6 col-sm-12 col-xs-12 ">
                                                <h3>Consulta de Históricos de Activos</h3>
                                            </div>
                                        </div>
                                        @*Sección para botones de generar reportes en PDF y Excel*@
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><button type="button" class="btn btn-round btn-danger float-right" onclick="GenerarReportePDF('@Url.Action("GenerarDataTable", "Reportes")','@Url.Action("ObtenerReportePDF", "Reportes")','Histórico de Activos','dataTableHistoricos');"><i class="fa fa-file-pdf-o"></i> Reporte PDF</button></li>
                                            <li> <button type="button" class="btn btn-round btn-success float-right" onclick="GenerarReporteExcel('@Url.Action("GenerarDataTable", "Reportes")','@Url.Action("ObtenerReporteExcel", "Reportes")','Histórico de Activos','dataTableHistoricos','');"><i class="fa fa-file-excel-o"></i> Reporte Excel</button></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <br>
                                        <div class="form-horizontal form-label-left input_mask">
                                            @*Sección de filtros de búsqueda para realizar la consulta*@
                                            <div class="form-group">
                                                <div class="col-md-4 col-sm-12 col-xs-12 form-group has-feedback">
                                                    <label>Fecha de Inicio: (mm/dd/yyyy)</label>
                                                    <input name="FechaInicioHist" type="text" class="form-control has-feedback-left" id="FechaInicioHist" placeholder="Fecha de Inicio" style="padding-left: 60px;" onkeyup="this.value=this.value.replace(validarFecha(),'');" maxlength="10" data-toggle="tooltip" data-placement="rigth" title="">
                                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true" style=" padding-right: 15px;"></span>
                                                </div>
                                                <div class="col-md-4 col-sm-12 col-xs-12 form-group has-feedback">
                                                    <label>Fecha de Fin: (mm/dd/yyyy)</label>
                                                    <input name="FechaFinHist" type="text" class="form-control has-feedback-left" id="FechaFinHist" placeholder="Fecha de Fin" style="padding-left: 60px;" onkeyup="this.value=this.value.replace(validarFecha(),'');" maxlength="10" data-toggle="tooltip" data-placement="rigth" title="">
                                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true" style=" padding-right: 15px;"></span>
                                                </div>
                                                <div class="col-md-4 col-sm-12 col-xs-12 form-group" style="bottom:-24px;">
                                                    <button type="button" class="btn btn-default" onclick="consultarFechasHist();">Consultar</button>
                                                    <button type="button" class="btn btn-default" onclick="obtenerHistoricos('@Url.Action("ObtenerHistoricoActivosComp", "Activos")');">Limpiar</button>
                                                </div>
                                            </div>
                                            <br />
                                            @* Sección para la tabla de modificación mediante js *@
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div id="tablaHistoricos"> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="profile-tab">
                            @* Panel para visualizar la información de los activos de TI *@
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <div class="x-content">
                                            <div class="col-md-6 col-sm-12 col-xs-12 ">
                                                <h3>Consulta de Especificaciones Adicionales de Activos</h3>
                                            </div>
                                        </div>
                                        @*Sección para botones de generar reportes en PDF y Excel*@
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><button type="button" class="btn btn-round btn-danger float-right" onclick="GenerarReportePDF('@Url.Action("GenerarDataTable", "Reportes")','@Url.Action("ObtenerReportePDF", "Reportes")','Especificaciones Adicionales','dataTableEspAdicionales');"><i class="fa fa-file-pdf-o"></i> Reporte PDF</button></li>
                                            <li> <button type="button" class="btn btn-round btn-success float-right" onclick="GenerarReporteExcel('@Url.Action("GenerarDataTable", "Reportes")','@Url.Action("ObtenerReporteExcel", "Reportes")','Especificaciones Adicionales','dataTableEspAdicionales','');"><i class="fa fa-file-excel-o"></i> Reporte Excel</button></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <br>
										<div class="form-horizontal form-label-left input_mask">
											@*Sección de filtros de búsqueda para realizar la consulta*@
											<div class="form-group">
												@*Combobox para seleccionar Tipo Activo*@
												<div class="col-md-6 col-sm-12 col-xs-12">
													<label>Filtro por Tipo:</label>
													<div id="cargarTipoActivoAdicionales"></div>
												</div>
												<div class="col-md-4 col-sm-12 col-xs-12 form-group" style="bottom:-24px;">
													<button type="button" class="btn btn-default" onclick="obtenerEspAdicionales('@Url.Action("ObtenerEspAdicionalesComp", "Activos")');">Limpiar</button>
												</div>
											</div>
											<br />
											@* Sección para la tabla de modificación mediante js *@
											<div class="col-md-12 col-sm-12 col-xs-12">
												<div id="tablaReportesAdicionales"> </div>
											</div>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/ScriptsInventarios/Reporteria/ReporteActivos.js"></script>
<script>
    $(document).ready(function () {
        //Método para obtener la tabla de Categorías
        obtenerActivos('@Url.Action("ObtenerActivosComp", "Activos")');
        datosTipoActivo('@Url.Action("ObtenerTipoActivoComp", "TipoActivo")');
        datosLaboratorio('@Url.Action("ObtenerLaboratoriosComp", "Laboratorios")');
        datosMarcas('@Url.Action("ObtenerMarcasComp", "Marcas")');      
    });    
</script>