@*              Sistema de Gestión de inventarios y ticketing para soporte Técnico
    Autores: Andres Chisaguano - Joel Ludeña
    Descripción: Vista para la generación de reportes de tickets.
*@

@* Sección para la definición del menú de administrador o auxiliar técnico *@
@{
    ViewBag.Title = "Reportes de Tickets";
    Layout = "~/Views/Shared/_Layout" + ViewBag.Menu + ".cshtml";
}

@* Sección para la navegación entre pestañas*@
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
    <li><a class="active">@ViewBag.Title </a></li>
</ul>
<div class="row">
    @* Panel para mostrar la tabla de reportes *@
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_content">
            <div class="x_panel">
                <div class="x_title">
                    <div class="x-content">
                        <div class="col-md-6 col-sm-12 col-xs-12 ">
                            <h3>Tickets para Soporte Técnico</h3>
                        </div>
                    </div>
                    @*Sección para botones de generar reportes en PDF y Excel*@
                    <ul class="nav navbar-right panel_toolbox">
                        <li><button type="button" class="btn btn-round btn-danger float-right" onclick="location.href='@Url.Action("", "")'"><i class="fa fa-file-pdf-o"></i> Reporte PDF</button></li>
                        <li> <button type="button" class="btn btn-round btn-success float-right" onclick="location.href='@Url.Action("", "")'"><i class="fa fa-file-excel-o"></i> Reporte Excel</button></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <div class="form-horizontal form-label-left input_mask">
                        @*Sección de filtros de búsqueda para realizar la consulta*@
                        <div class="form-group">
                            @*Combobox para seleccionar Estados*@
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <label>Filtro por Estado:</label>
                                <div id="cargarEstados"></div>
                            </div>
                            @*Combobox para seleccionar Responsables*@
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <label>Filtro por Responsable:</label>
                                <div id="cargarResponsables"></div>
                            </div>
                        </div>
                        <br />
                        @*Sección de filtros de búsqueda para realizar la consulta*@
                        <div class="form-group">
                            <div class="col-md-4 col-sm-12 col-xs-12 form-group has-feedback">
                                <label>Fecha de Inicio: (mm/dd/yyyy)</label>
                                <input name="FechaInicio" type="text" class="form-control has-feedback-left" id="FechaInicio" placeholder="Fecha de Inicio" style="padding-left: 60px;" onkeyup="this.value=this.value.replace(validarFecha(),'');" maxlength="10" data-toggle="tooltip" data-placement="rigth" title="">
                                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true" style=" padding-right: 15px;"></span>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12 form-group has-feedback">
                                <label>Fecha de Fin: (mm/dd/yyyy)</label>
                                <input name="FechaFin" type="text" class="form-control has-feedback-left" id="FechaFin" placeholder="Fecha de Fin" style="padding-left: 60px;" onkeyup="this.value=this.value.replace(validarFecha(),'');" maxlength="10" data-toggle="tooltip" data-placement="rigth" title="">
                                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true" style=" padding-right: 15px;"></span>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12 form-group" style="bottom:-24px;">
                                <button type="button" class="btn btn-default" onclick="consultarFechas();">Consultar</button>
                            </div>
                        </div>
                        <br />
                        @* Sección para la tabla de modificación mediante js *@
                        <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                            <div id="tablaReportesTickets"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Seccción para llamar al js de Tickets*@
<script src="~/Scripts/ScriptsInventarios/Reporteria/ReporteTickets.js"></script>
<script>
    $(document).ready(function () {
        //Método para obtener las tablas de tickets
        obtenerTickets('@Url.Action("ObtenerTicketsComp", "Tickets")');
    });

</script>